# Python Data, 2025

---

* [√övod k pand√°m](#√övod-k-pand√°m),
* [z√°kladn√≠ objekty](#Z√°kladn√≠-datov√©-typy-frameworku),
    - [series](#Series),
    - [dataframe](#DataFrame),
    - [index](#Index).
* [naƒç√≠t√°n√≠ objekt≈Ø](#Naƒç√≠t√°n√≠-objekt≈Ø),
    - [naƒçti csv](#Naƒçti-soubor-csv),
    - [naƒçti html](#Naƒçti-tabulku-html),
    - [naƒçti data z SQL](#Naƒçti-v√Ωstup-dotazu-do-tabulky) # todo: nachystat demo
* [prohl√≠≈æen√≠ dat](#Prozkoum√°v√°n√≠-dat),
    - [selekce u sloupeƒçk≈Ø](#Selekce-u-sloupeƒçk≈Ø),
    - [selekce u tabulek](#Selekce-u-tabul√°rn√≠ch-hodnot),
    - [dal≈°√≠ metody prohl√≠≈æen√≠](#Metody-pro-nahl√≠≈æen√≠).
* [manipulace s daty](#Manipulace-se-sloupci),  # todo: druh√° lekce
    - [p≈ôejmenov√°n√≠ sloupc≈Ø](#P≈ôejmenov√°n√≠-sloupc≈Ø),
    - [p≈ôid√°v√°n√≠ sloupc≈Ø](#P≈ôid√°v√°n√≠-sloupc≈Ø-do-DataFrame),
    - [odstra≈àov√°n√≠ sloupc≈Ø]().

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.BaZU6gIdwRYQHu4rBBoO-gHaIX%26pid%3DApi&f=1&ipt=1013c975daabd695fcd4ebfc2c0e0b8ba4f10c37780419d8ff56538ec7a7f9ea&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

## √övod k pand√°m

---

Jde o knihovnu, kter√° stav√≠ na jednoduch√Ωch, p≈ôesto v√Ωkonn√Ωch a intuitivn√≠ch n√°stroj√≠ch.

Tyto prost≈ôedky umo≈æ≈àuj√≠ manipulaci, anal√Ωzu a vizualizaci strukturovan√Ωch dat s tabulkov√Ωmi a ƒçasov√Ωmi daty.

Vezme data z r≈Øzn√Ωch zdroj≈Ø, naƒçte je, zpracuje a zap√≠≈°e (pozn. **zdroj v C**).


<br>

### Kde pandy najdu a jak vypadaj√≠?

---

- Odkaz na **ofici√°ln√≠ repozit√°≈ô** [t√©to knihovny](https://github.com/pandas-dev/pandas),
- pokud bude≈° pot≈ôebovat v√≠ce podrobnost√≠, mrkni na [ofici√°ln√≠ dokumentaci](https://pandas.pydata.org/pandas-docs/stable/index.html),
- pypi.org, instalace knihovny,
- obecnƒõ vyhled√°vat online,
- AI.

<br>

In [ ]:
import csv  # Built-in

In [ ]:
import pandas

### Proƒç se ti bude hodit?

---

**Pandas** slou≈æ√≠ pro anal√Ωzu dat.

Data jsou nejƒçastƒõji v SQL datab√°zi, r≈Øzn√Ωch souborech, tabulkov√Ωch procesech atd.

*Pandas* si p≈ôedstav jako Excel, ale s v√≠ce funkcemi a hlavnƒõ mo≈ænost√≠ automatizovat procesy.

<br>

### Jak nainstalovat knihovnu?

---

Instalace **posledn√≠ dostupn√© verze**:

In [ ]:
!pip install pandas  # Mo≈ænost pracovat s jin√Ωm mana≈æerem

<br>

Instalace **konkr√©tn√≠ vybran√© verze**:

In [ ]:
!pip install pandas==1.1.1

<br>

### Jak knihovnu spustit?

---

In [ ]:
import pandas

In [ ]:
pandas.__version__  # FutureWarning

<br>

Pou≈æit√≠ **aliasu**:

In [ ]:
import pandas as pd

# from module_1 import read_data
# from module_2 import read_data as rd

In [ ]:
from pandas import DataFrame

<br>

### Souhrn kapitoly
---

- knihovna je tedy *≈°v√Ωcarsk√Ω no≈æ√≠k* pro pr√°ci **s tabel√°rn√≠mi daty** a **ƒçasov√Ωmi ≈ôadami**,
- jde o vƒõt≈°√≠ bal√≠ƒçek, t≈ôet√≠ch stran (pot≈ôeba st√°hnout & instalovat).

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.b2NCTuZRiG8yrmTCF7MogAHaHa%26pid%3DApi&f=1&ipt=f9e6a3811b3a707743134cfb19b2ee4f9c44584f5ea328582b227f14b94fcb1f&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

## Z√°kladn√≠ datov√© typy

---

Knihovna nab√≠z√≠ ≈ôadu u≈æiteƒçn√Ωch n√°stroj≈Ø.

Jde o *metody* a *funkce* nad r√°mec z√°kladn√≠ch (zabudovan√Ωch) **datov√Ωch struktur**.

Hlavn√≠ **t≈ôi struktury**, na kter√Ωch knihovna stoj√≠ jsou:
* `Index`
* `series`,
* `dataFrames`.

<img src="https://i.imgur.com/NNRgONl.png" width="1200" style="margin-left:auto; margin-right:auto"/>

- **Indexes**, je oznaƒçen√≠ (nebo **identifik√°tor**) jednotliv√Ωch ≈ô√°dk≈Ø, kter√© slou≈æ√≠ k jejich jednoznaƒçn√© identifikaci a usnad≈àuje p≈ô√≠stup k dat≈Øm,
- **series**, je *sloupec*, **pole** hodnot s Indexem, tedy sloupeƒçek tabulky nebo ƒç√≠slovan√Ω seznam,
- **dataframes**, jde v podstatƒõ o oznaƒçen√≠ cel√© tabulky.

### Series

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Yp6ZBv9C33_pDfZkJcKbJQHaHa%26pid%3DApi&f=1&ipt=546833b7ce370c5a62bea21079371efd1fa9547765d4eae8e6c9e41f6b25a3af&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

Jde **o jednodimenzion√°ln√≠ pole** (pop≈ô. sloupeƒçek, ≈ôada).

Tento objekt m√° **indexovan√© data** (jsi schopen data vybrat, uchopit).

Opƒõt si jej m≈Ø≈æe≈° p≈ôedstavit jako sloupeƒçek v obyƒçejn√Ωch *Excelovsk√Ωch* tabulk√°ch.

<br>

Na uk√°zku m≈Ø≈æe≈° tyto sloupeƒçky vytvo≈ôit t≈ôeba ze sekvenc√≠:

In [1]:
import pandas as pd

In [2]:
mesta_sl = pd.Series(("Praha", "Brno", "Ostrava", "Hradek Kr√°lov√©"))

In [3]:
type(mesta_sl)

pandas.core.series.Series

In [4]:
mesta_sl

0             Praha
1              Brno
2           Ostrava
3    Hradek Kr√°lov√©
dtype: object

<br>

Jak m≈Ø≈æe≈° vidƒõt v uk√°zce v√Ω≈°e, *sloupec* `Series` obsahuje **jak po≈ôad√≠, tak hodnoty**.

In [5]:
mesta_sl.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
mesta_sl.values

array(['Praha', 'Brno', 'Ostrava', 'Hradek Kr√°lov√©'], dtype=object)

<br>

Obecnƒõ vypad√° jako nƒõjak√© pole, kter√Ω m√° sv≈Øj nativn√≠ datov√Ω typ `object`.

<br>

Aƒçkoliv je `pandas` knihovna Pythonu, datov√© typy nemus√≠ v≈ædy odpov√≠dat z√°kladn√≠m **datov√Ωm typ≈Øm Pythonu**:

| Typy `pandas`| typy `Python`| Pou≈æit√≠ |
| :-: | :-: | :- |
| `object` | `str` nebo smƒõska| text nebo nam√≠chan√© ƒç√≠seln√© a neƒç√≠seln√© hodnoty |
| `int64` | `int`| cel√° ƒç√≠sla |
| `float64` | `float` | desetinn√° ƒç√≠sla |
| `bool` | `bool` | True a False |
| `datetime64` | `-`| Hodnota data a ƒçasu |
| `timedelta` | `-` | ƒåasov√© rozd√≠ly |

<br>

Stejnƒõ jako pole nebo sekvence m≈Ø≈æe≈° *indexovat* a *slicovat* hodnoty typu `Series`.

In [7]:
mesta_sl

0             Praha
1              Brno
2           Ostrava
3    Hradek Kr√°lov√©
dtype: object

#### Indexov√°n√≠ sloupeƒçku

---

In [ ]:
mesta_sl[1]

'Brno'

<br>

#### Slicing sloupeƒçku

---

In [16]:
mesta_sl[0:3]

0      Praha
1       Brno
2    Ostrava
dtype: object

Na prvn√≠ pohled nen√≠ tolik odli≈°n√Ω od datov√©ho typu `list` nebo `tuple` (p≈ô√≠padnƒõ pole v `numpy`).

Nejvƒõt≈°√≠ rozd√≠l spoƒç√≠t√° pr√°vƒõ v **indexu/Indexu**.

A≈• `list`, `tuple` nebo `numpy.array` implicitnƒõ pracuj√≠ **s celoƒç√≠seln√Ωm indexem**.

<br>

Objekt `Series` na druhou stranu nab√≠z√≠ mo≈ænost, zad√°vat vlastn√≠ indexov√© hodnoty:

In [19]:
mesta_sl = pd.Series(["Praha", "Brno", "Ostrava", "Hradek Kr√°lov√©"],
               index=["1_mesto", "2_mesto", "3_mesto", "4_mesto"])  # Tvoje specifick√© indexy

In [20]:
mesta_sl.index

Index(['1_mesto', '2_mesto', '3_mesto', '4_mesto'], dtype='object')

In [23]:
mesta_sl

1_mesto             Praha
2_mesto              Brno
3_mesto           Ostrava
4_mesto    Hradek Kr√°lov√©
dtype: object

In [24]:
mesta_sl["2_mesto"]

'Brno'

In [25]:
mesta_sl["1_mesto":"2_mesto"]

1_mesto    Praha
2_mesto     Brno
dtype: object

In [30]:
mesta_sl = pd.Series(["Praha", "Brno", "Ostrava", "Hradek Kr√°lov√©"],
               index=[5, 10, 15, 20])  # Tvoje specifick√© indexy

In [32]:
mesta_sl

5              Praha
10              Brno
15           Ostrava
20    Hradek Kr√°lov√©
dtype: object

In [31]:
mesta_sl[5]

'Praha'

In [ ]:
mesta_sl[5:15]

Series([], dtype: object)

### Atributy `loc`, `iloc`

---
Pr√°vƒõ proto≈æe je *indexov√°n√≠* a *slicing* v r√°mci `Series` matouc√≠, existuj√≠ pomocn√© atributy.

<br>

#### iloc

---

Naopak atribut `iloc` je proces, kter√Ω funguje v√Ωluƒçnƒõ na **indexov√°n√≠ v r√°mci Pythonu** (po≈ôad√≠, zaƒç√≠n√° nulou):

In [52]:
mesta_sl

5              Praha
10              Brno
15           Ostrava
20    Hradek Kr√°lov√©
dtype: object

In [40]:
mesta_sl.iloc[1]

'Brno'

<br>

Pokud prov√°d√≠≈° *slicing* pomoc√≠ *index≈Ø*, implicitnƒõ **vynech√°≈° koneƒçn√Ω index**:

In [53]:
mesta_sl.iloc[1:2]

10    Brno
dtype: object

#### loc

---

Pr√°vƒõ tento atribut zaruƒç√≠, ≈æe bude≈° v≈ædy pracovat pomoc√≠ **explicitn√≠ho zad√°n√≠ hodnoty Index≈Ø**:

In [83]:
mesta_sl.loc[5]

'Praha'

In [56]:
mesta_sl.loc[15]

'Ostrava'

In [41]:
mesta_sl.loc[5:15]

5       Praha
10       Brno
15    Ostrava
dtype: object

Tento jednoduch√Ω p≈ô√≠stup potom vede **k ƒçast√Ωm chyb√°m a nepochopen√≠m**.

Jde tedy o explicitn√≠ pr√°ci s Indexy knihovny `pandas`, ne indexy Pythonu:

In [86]:
jmena_sl = pd.Series(
    ["Matous", "Marek", "Lukas", "Jan"],
    index=[1, 2, 3, 4]
)

In [87]:
jmena_sl

1    Matous
2     Marek
3     Lukas
4       Jan
dtype: object

In [59]:
jmena_sl.loc[1]

'Matous'

In [60]:
jmena_sl.loc[:3]

1    Matous
2     Marek
3     Lukas
dtype: object

V≈°imni si, jak *Index* o hodnotƒõ 3 je souƒç√°st√≠ v√Ωstupu (narozd√≠l od pythonovsk√©ho indexu 3).

---

<br>

#### Pokroƒçil√©, type-specific
---
V p≈ô√≠padƒõ `Series` jde o mapov√°n√≠ **typovan√Ωch hodnot** na **typovan√© kl√≠ƒçe**. Pr√°vƒõ pojem **typovan√Ω** (~*type-specific*) je z√°sadn√≠.

Pr√°vƒõ *typovan√Ω* zkompilovan√Ω k√≥d od `Series` nab√≠z√≠ nƒõkter√© efektivnƒõj≈°√≠ metody a funkce, kter√© obyƒç. `dict` v Pythonu ne.

In [26]:
populace_evropa = {
    'Dansko': 5_655_750,
    'Ceska_republika': 10_513_209,
    'Nemecko': 80_716_000,
    'Polsko': 38_483_957,
    'Slovensko': 5_415_949,
    'Rakousko': 8_932_664
}

In [27]:
populace_evropa_sl = pd.Series(populace_evropa)

In [61]:
populace_evropa_sl

Dansko              5655750
Ceska_republika    10513209
Nemecko            80716000
Polsko             38483957
Slovensko           5415949
Rakousko            8932664
dtype: int64

<br>

Defaultnƒõ ti objekt `Series` nachyst√° index ze se≈ôazen√Ωch kl√≠ƒç≈Ø p≈Øvodn√≠ho datov√©ho typu `dict`.

M≈Ø≈æe≈° prov√©st klasick√© mapov√°n√≠ hodnoty na jm√©no kl√≠ƒçe:

In [62]:
populace_evropa_sl["Ceska_republika"]

np.int64(10513209)

K tomu, ale `Series` nab√≠z√≠ operace jako nap≈ô. *slicing* pro pole:

In [63]:
populace_evropa_sl["Ceska_republika": "Polsko"]

Ceska_republika    10513209
Nemecko            80716000
Polsko             38483957
dtype: int64

<br>

**üß† CVIƒåEN√ç üß†, p≈ôepoƒç√≠tej hodnoty ve sloupeƒçku**

In [65]:
from typing import Dict

data: Dict[str, float] = {  # Data v milionech, p≈ôeveƒè na jednotky
    "New York": 8.4,        # 8_400_000, (adv. int64)
    "London": 9.0,
    "Tokyo": 13.9,
    "Sydney": 5.3,
}

In [66]:
# Zapi≈° ≈ôe≈°en√≠
from pandas import Series

data_sl = pd.Series(data)

In [67]:
print(data_sl)

New York     8.4
London       9.0
Tokyo       13.9
Sydney       5.3
dtype: float64

In [68]:
def prepocitej_ciselne_hodnoty(data_mesta: Series) -> Series:
    return data_mesta * 1_000_000

In [69]:
prepocitej_ciselne_hodnoty(data_sl)

New York     8400000.0
London       9000000.0
Tokyo       13900000.0
Sydney       5300000.0
dtype: float64

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
import pandas as pd

data = {
    "New York": 8.4,
    "London": 9.0,
    "Tokyo": 13.9,
    "Sydney": 5.3,
}


mesta_sl = pd.Series(data)


def preved_na_jednotky(series):
    return series * 1_000_000  # astype(int) -> cel√© ƒç√≠slo


prevedene = preved_na_jednotky(mesta_sl)
```
</details>

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP._inpASbq98lGCmZFxPEq7wHaHa%26pid%3DApi&f=1&ipt=ecf1243da46e7ae6341330ae58bda2a6456c95f63a0cd79eda7d561cf3334a57&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

<br>

### DataFrame

---


Dal≈°√≠m element√°rn√≠m datov√Ωm typem t√©to knihovny je `DataFrame`.

Analogicky si jej m≈Ø≈æe≈° p≈ôedstavit **jako tabulku** v Excelu.

Tedy objekt slo≈æen√Ω **z ≈ô√°dk≈Ø** (Index≈Ø) a **sloupc≈Ø** (`Series`).

In [88]:
populace_evropa = {
    'Dansko': 5_655_750,
    'Ceska_republika': 10_513_209,
    'Nemecko': 80_716_000,
    'Polsko': 38_483_957,
    'Slovensko': 5_415_949,
    'Rakousko': 8_932_664
}

In [89]:
rozloha_evropa = {
    'Dansko': 42_916,
    'Ceska_republika': 78_870,
    'Nemecko': 357_168,
    'Polsko': 312_679,
    'Slovensko': 49_035,
    'Rakousko': 83_878
}

<br>

Nezapome≈à nahr√°t pot≈ôebn√Ω objekt:

In [90]:
from pandas import DataFrame

In [91]:
zeme_evropa_df = DataFrame(  # Zd≈Øraznit "df"
    {"Populace": populace_evropa,
     "Rozloha": rozloha_evropa}
)

In [92]:
zeme_evropa_df

                 Populace  Rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168
Polsko           38483957   312679
Slovensko         5415949    49035
Rakousko          8932664    83878

In [93]:
type(zeme_evropa_df)

pandas.core.frame.DataFrame

<br>

Stejnƒõ jako u `Series` m√° i `DataFrame` svoje *indexy*:

In [94]:
zeme_evropa_df.index

Index(['Dansko', 'Ceska_republika', 'Nemecko', 'Polsko', 'Slovensko',
       'Rakousko'],
      dtype='object')

<br>

Nav√≠c m≈Ø≈æe≈° pracovat s atributem `columns`, kter√Ω dr≈æ√≠ jm√©na **jednotliv√Ωch sloupeƒçk≈Ø**:

In [95]:
zeme_evropa_df.columns

Index(['Populace', 'Rozloha'], dtype='object')

In [96]:
zeme_evropa_df.values

array([[ 5655750,    42916],
       [10513209,    78870],
       [80716000,   357168],
       [38483957,   312679],
       [ 5415949,    49035],
       [ 8932664,    83878]])

Proto si m≈Ø≈æe≈° objekt `DataFrame` p≈ôedstavit tak√© jako Pythonovsk√Ω `dict`.

<br>

Ov≈°em s t√≠m rozd√≠lem, ≈æe tentokr√°t mapuje≈° jm√©no sloupeƒçku na `Series`:

In [97]:
zeme_evropa_df["Populace"]

Dansko              5655750
Ceska_republika    10513209
Nemecko            80716000
Polsko             38483957
Slovensko           5415949
Rakousko            8932664
Name: Populace, dtype: int64

In [98]:
populace_sl = zeme_evropa_df["Populace"]

In [99]:
type(populace_sl)

pandas.core.series.Series

Opatrnƒõ p≈ôi vytv√°≈ôen√≠ nov√©ho `DataFrame`, u chybƒõj√≠c√≠ch kl√≠ƒç≈Ø implictinƒõ zapisuje `Nan` hodnotu (~*not a number*):

In [100]:
chybejici_hodnoty_df = DataFrame(
    [
        {"A": 1, "B": 4},
        {"C": 6, "B": 7}
    ]
)

In [101]:
chybejici_hodnoty_df

     A  B    C
0  1.0  4  NaN
1  NaN  7  6.0

Nav√≠c si m≈Ø≈æe≈° v≈°imnout rozd√≠ln√© definice **datov√©ho typu**:

In [102]:
chybejici_hodnoty_df.dtypes

A    float64
B      int64
C    float64
dtype: object

In [103]:
chybejici_hodnoty_df["A"]

0    1.0
1    NaN
Name: A, dtype: float64

In [104]:
konvertovany_sl_a = chybejici_hodnoty_df["A"].convert_dtypes()

In [105]:
konvertovany_sl_a

0       1
1    <NA>
Name: A, dtype: Int64

V√≠ce si o p≈ôetypov√°n√≠ obecnƒõ a dozv√≠≈° pozdƒõji.

**üß† CVIƒåEN√ç üß†, p≈ôidej nov√Ω sloupeƒçek**

In [ ]:
from typing import Dict

data: Dict[str, list] = {  # Zalidnƒõn√≠
    "Mƒõsto": ["New York", "London", "Tokyo", "Sydney"],
    "Populace (v mio)": [8.4, 9.0, 13.9, 5.3],
    "Plocha (km¬≤)": [783, 1572, 2194, 1687]
}

In [ ]:
# Z√°pis
from pandas import DataFrame

data_df = DataFrame(data)

In [ ]:
data_df

In [ ]:
def vypocitej_zalidneni(data_df: DataFrame) -> DataFrame:
    data_df['Zalidnƒõn√≠ (na km¬≤)'] = \
        (data_df['Populace (v mio)'] * 1_000_000) / data_df['Plocha (km¬≤)']

    return data_df

In [ ]:
vypocitej_zalidneni(data_df)

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
import pandas as pd

data = {
    "Mƒõsto": ["New York", "London", "Tokyo", "Sydney"],
    "Populace (v mio)": [8.4, 9.0, 13.9, 5.3],
    "Plocha (km¬≤)": [783, 1572, 2194, 1687],
}

mesta_df = pd.DataFrame(data)

def vypocitej_hustotu_zalidneni(df):
    """
    P≈ôidejte nov√Ω sloupec 'Hustota zalidnƒõn√≠' (poƒçet obyvatel na km¬≤).
    """
    df["Hustota zalidnƒõn√≠ (na km¬≤)"] = (df["Populace (v mio)"] * 1_000_000 / df["Plocha (km¬≤)"]).round().astype(int)
    return df

df = vypocitej_hustotu_zalidneni(mesta_df)
print(df)
```
</details>

<img src="https://imgs.search.brave.com/EQep67dP5UaJDlqkF2HvOQTESVA_LQSZx_SR7FE6JYM/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9kMW5o/aW8wb3g3cGdiLmNs/b3VkZnJvbnQubmV0/L19pbWcvb19jb2xs/ZWN0aW9uX3BuZy9n/cmVlbl9kYXJrX2dy/ZXkvNTEyeDUxMi9w/bGFpbi90YWJsZV9z/ZWxlY3Rpb25fcm93/LnBuZw" width="200" style="margin-left:auto; margin-right:auto"/>

### Index

---

Posledn√≠m ze z√°kladn√≠ch objekt≈Ø frameworku `pandas` je tedy **Index** (velk√© "i").

Jak `Series`, tak `DataFrame` v sobƒõ *Index* obsahuj√≠.

Pro jednoduchost, si jej m≈Ø≈æe≈° p≈ôedstavit jako oznaƒçen√≠ jednotliv√Ωch ≈ô√°dk≈Ø v tabulce.

In [106]:
from pandas import Index

In [107]:
indexy = Index([2, 3, 4, 5])

In [108]:
indexy

Index([2, 3, 4, 5], dtype='int64')

In [109]:
type(indexy)

pandas.core.indexes.base.Index

In [110]:
nove_indexy = Index(('radek_1', 'radek_2', 'radek_3'))

In [111]:
type(nove_indexy)

pandas.core.indexes.base.Index

<br>

#### indexov√°n√≠ Index≈Ø

---

In [112]:
indexy

Index([2, 3, 4, 5], dtype='int64')

In [113]:
indexy[2]

np.int64(4)

<br>

#### Slicov√°n√≠ index≈Ø

---

In [114]:
indexy[:3]

Index([2, 3, 4], dtype='int64')

<br>

#### Nezmƒõniteln√Ω objekt

---

In [115]:
indexy[2]

np.int64(4)

In [117]:
indexy[2] = 3  # --> TypeError

TypeError: Index does not support mutable operations

Tato nezmƒõnitelnost slou≈æ√≠ k vƒõt≈°√≠ bezpeƒçnosti, proto≈æe jednotliv√© indexy, m≈Ø≈æe sd√≠let v√≠ce `DataFrame`.

<br>

#### Index jako se≈ôazen√Ω set

---

In [118]:
indexy_a = Index([1, 2, 3, 4])
indexy_b = Index([3, 4, 5, 6])

In [119]:
indexy_a.intersection(indexy_b)

Index([3, 4], dtype='int64')

In [120]:
indexy_a.union(indexy_b)

Index([1, 2, 3, 4, 5, 6], dtype='int64')

<br>

### Souhrn k z√°kladn√≠m typ≈Øm

---

- **sloupeƒçky**, jako pole, jednorozmƒõrn√©, mo≈ænost selekce index≈Ø i hodnot a jejich rozsah≈Ø,
- **indexy**, jako pole, nezmƒõniteln√©, mo≈ænost selekce jednoho ≈ô√°dk≈Ø i rozsahu ≈ô√°dk≈Ø,
- **tabulka**, v√≠cerozmƒõrn√© pole, v√Ωbƒõr podle sloupc≈Ø.


<img src="https://imgs.search.brave.com/CoDVQW6cpYcV0qJtUejA7WQat4mLN2AOxuK2hXwgGAo/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jZG4w/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvcm91bmQtdWkt/aWNvbnMvNTEyL2Fk/ZF9ibHVlLnBuZw" width="200" style="margin-left:auto; margin-right:auto"/>

<br>

## Naƒç√≠t√°n√≠ objekt≈Ø

---

Vytvo≈ôit nov√Ω `DataFrame` je z√°le≈æitost nƒõkolika m√°lo argument≈Ø.

Nen√≠ ov≈°em velmi ƒçast√©, chystat data *z niƒçeho*.

Vƒõt≈°inou pot≈ôebuje≈° pr√°vƒõ nahr√°t r≈Øzn√© **existuj√≠c√≠ extern√≠ soubory**, do `DataFrame` objekt≈Ø.

* `read_csv`,
* `read_excel`,
* `read_json`,
* `read_html`,
* `read_sql`,
* `read_parquet`,
* `read_sas`.

###  Naƒçti soubor `csv`

---

Knihovna nab√≠z√≠ p≈ô√≠mo specializovanou funkci `read_csv`.

Ta dovede naƒç√≠st obsah souboru do nov√©ho `DataFrame`.

Pro prvn√≠ pou≈æit√≠, p≈ô√≠padnƒõ pozdƒõj≈°√≠ roz≈°√≠≈ôen√≠ je vhodn√©, prozkoumat dokumentaci:

In [ ]:
pd.read_csv?

Signature:
read_csv(
    filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]',
    *,
    sep: 'str | None | lib.NoDefault' = <no_default>,
    delimiter: 'str | None | lib.NoDefault' = None,
    header: "int | Sequence[int] | None | Literal['infer']" = 'infer',
    names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>,
    index_col: 'IndexLabel | Literal[False] | None' = None,
    usecols: 'UsecolsArgType' = None,
    dtype: 'DtypeArg | None' = None,
    engine: 'CSVEngine | None' = None,
    converters: 'Mapping[Hashable, Callable] | None' = None,
    true_values: 'list | None' = None,
    false_values: 'list | None' = None,
    skipinitialspace: 'bool' = False,
    skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None,
    skipfooter: 'int' = 0,
    nrows: 'int | None' = None,
    na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool | lib.NoDefault' = <no_default>,
    skip_blank_lines: 'bool' = True,
    parse_dates: 'bool | Sequence[Hashable] | None' = None,
    infer_datetime_format: 'bool | lib.NoDefault' = <no_default>,
    keep_date_col: 'bool | lib.NoDefault' = <no_default>,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'str | dict[Hashable, str] | None' = None,
    dayfirst: 'bool' = False,
    cache_dates: 'bool' = True,
    iterator: 'bool' = False,
    chunksize: 'int | None' = None,
    compression: 'CompressionOptions' = 'infer',
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    lineterminator: 'str | None' = None,
    quotechar: 'str' = '"',
    quoting: 'int' = 0,
    doublequote: 'bool' = True,
    escapechar: 'str | None' = None,
    comment: 'str | None' = None,
    encoding: 'str | None' = None,
    encoding_errors: 'str | None' = 'strict',
    dialect: 'str | csv.Dialect | None' = None,
    on_bad_lines: 'str' = 'error',
    delim_whitespace: 'bool | lib.NoDefault' = <no_default>,
    low_memory: 'bool' = True,
    memory_map: 'bool' = False,
    float_precision: "Literal['high', 'legacy'] | None" = None,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
) -> 'DataFrame | TextFileReader'
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Character or regex pattern to treat as the delimiter. If ``sep=None``, the
    C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator from only the first valid
    row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
    In addition, separators longer than 1 character and different from
    ``'\s+'`` will be interpreted as regular expressions and will also force
    the use of the Python parsing engine. Note that regex delimiters are prone
    to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, optional
    Alias for ``sep``.
header : int, Sequence of int, 'infer' or None, default 'infer'
    Row number(s) containing column labels and marking the start of the
    data (zero-indexed). Default behavior is to infer the column names: if no ``names``
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly to ``names`` then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a :class:`~pandas.MultiIndex` on the columns
    e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : Sequence of Hashable, optional
    Sequence of column labels to apply. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : Hashable, Sequence of Hashable or False, optional
  Column(s) to use as row label(s), denoted either by column labels or column
  indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
  will be formed for the row labels.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g., when you have a malformed file with delimiters at
  the end of each line.
usecols : Sequence of Hashable or Callable, optional
    Subset of columns to select, denoted either by column labels or column indices.
    If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in ``names`` or
    inferred from the document header row(s). If ``names`` are given, the document
    header row(s) are not taken into account. For example, a valid list-like
    ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
    preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
    for columns in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to ``True``. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
dtype : dtype or dict of {Hashable : dtype}, optional
    Data type(s) to apply to either the whole dataset or individual columns.
    E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
    Use ``str`` or ``object`` together with suitable ``na_values`` settings
    to preserve and not interpret ``dtype``.
    If ``converters`` are specified, they will be applied INSTEAD
    of ``dtype`` conversion.

    .. versionadded:: 1.5.0

        Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
        the default determines the ``dtype`` of the columns which are not explicitly
        listed.
engine : {'c', 'python', 'pyarrow'}, optional
    Parser engine to use. The C and pyarrow engines are faster, while the python engine
    is currently more feature-complete. Multithreading is currently only supported by
    the pyarrow engine.

    .. versionadded:: 1.4.0

        The 'pyarrow' engine was added as an *experimental* engine, and some features
        are unsupported, or may not work correctly, with this engine.
converters : dict of {Hashable : Callable}, optional
    Functions for converting values in specified columns. Keys can either
    be column labels or column indices.
true_values : list, optional
    Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
false_values : list, optional
    Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : int, list of int or Callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (``int``)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
    Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
    per-column ``NA`` values.  By default the following values are interpreted as
    ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
    "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
    "n/a", "nan", "null ".

keep_default_na : bool, default True
    Whether or not to include the default ``NaN`` values when parsing the data.
    Depending on whether ``na_values`` is passed in, the behavior is as follows:

    * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
      is appended to the default ``NaN`` values used for parsing.
    * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
      the default ``NaN`` values are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
      the ``NaN`` values specified ``na_values`` are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
      strings will be parsed as ``NaN``.

    Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
    ``na_values`` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of ``na_values``). In
    data without any ``NA`` values, passing ``na_filter=False`` can improve the
    performance of reading a large file.
verbose : bool, default False
    Indicate number of ``NA`` values placed in non-numeric columns.

    .. deprecated:: 2.2.0
skip_blank_lines : bool, default True
    If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
    The behavior is as follows:

    * ``bool``. If ``True`` -> try parsing the index. Note: Automatically set to
      ``True`` if ``date_format`` or ``date_parser`` arguments have been passed.
    * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
      each as a separate date column.
    * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
      as a single date column. Values are joined with a space before parsing.
    * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
      result 'foo'. Values are joined with a space before parsing.

    If a column or index cannot be represented as an array of ``datetime``,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an ``object`` data type. For
    non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
    :func:`~pandas.read_csv`.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
    format of the ``datetime`` strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.

    .. deprecated:: 2.0.0
        A strict version of this argument is now the default, passing it has no effect.

keep_date_col : bool, default False
    If ``True`` and ``parse_dates`` specifies combining multiple columns then
    keep the original columns.
date_parser : Callable, optional
    Function to use for converting a sequence of string columns to an array of
    ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. pandas will try to call ``date_parser`` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by ``parse_dates`` into a single array
    and pass that; and 3) call ``date_parser`` once for each row using one or
    more strings (corresponding to the columns defined by ``parse_dates``) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`~pandas.to_datetime` as-needed.
date_format : str or dict of column -> format, optional
    Format to use for parsing dates when used in conjunction with ``parse_dates``.
    The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
    `strftime documentation
    <https://docs.python.org/3/library/datetime.html
    #strftime-and-strptime-behavior>`_ for more information on choices, though
    note that :const:`"%f"` will parse all the way up to nanoseconds.
    You can also pass:

    - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
        time string (not necessarily in exactly the same format);
    - "mixed", to infer the format for each element individually. This is risky,
        and you should probably use it along with `dayfirst`.

    .. versionadded:: 2.0.0
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If ``True``, use a cache of unique, converted dates to apply the ``datetime``
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

iterator : bool, default False
    Return ``TextFileReader`` object for iteration or getting chunks with
    ``get_chunk()``.
chunksize : int, optional
    Number of lines to read from the file per chunk. Passing a value will cause the
    function to return a ``TextFileReader`` object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

compression : str or dict, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
    (otherwise no compression).
    If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
    Set to ``None`` for no decompression.
    Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
    other key-value pairs are forwarded to
    ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
    ``tarfile.TarFile``, respectively.
    As an example, the following could be passed for Zstandard decompression using a
    custom compression dictionary:
    ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

    .. versionadded:: 1.5.0
        Added support for `.tar` files.

    .. versionchanged:: 1.4.0 Zstandard support.

thousands : str (length 1), optional
    Character acting as the thousands separator in numerical values.
decimal : str (length 1), default '.'
    Character to recognize as decimal point (e.g., use ',' for European data).
lineterminator : str (length 1), optional
    Character used to denote a line break. Only valid with C parser.
quotechar : str (length 1), optional
    Character used to denote the start and end of a quoted item. Quoted
    items can include the ``delimiter`` and it will be ignored.
quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
    ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
    characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
    or ``lineterminator``.
doublequote : bool, default True
   When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    Character used to escape other characters.
comment : str (length 1), optional
    Character indicating that the remainder of line should not be parsed.
    If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter ``header`` but not by
    ``skiprows``. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
    treated as the header.
encoding : str, optional, default 'utf-8'
    Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

encoding_errors : str, optional, default 'strict'
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
    ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
    override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
    documentation for more details.
on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

    - ``'error'``, raise an Exception when a bad line is encountered.
    - ``'warn'``, raise a warning when a bad line is encountered and skip that line.
    - ``'skip'``, skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

    .. versionadded:: 1.4.0

        - Callable, function with signature
          ``(bad_line: list[str]) -> list[str] | None`` that will process a single
          bad line. ``bad_line`` is a list of strings split by the ``sep``.
          If the function returns ``None``, the bad line will be ignored.
          If the function returns a new ``list`` of strings with more elements than
          expected, a ``ParserWarning`` will be emitted while dropping extra elements.
          Only supported when ``engine='python'``

    .. versionchanged:: 2.2.0

        - Callable, function with signature
          as described in `pyarrow documentation
          <https://arrow.apache.org/docs/python/generated/pyarrow.csv.ParseOptions.html
          #pyarrow.csv.ParseOptions.invalid_row_handler>`_ when ``engine='pyarrow'``

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be

<br>

Naƒçte≈° jm√©no souboru se specifickou p≈ô√≠ponou `csv`:

In [125]:
zamestnanci_df = pd.read_csv('../onsite/customers_inp.csv')

<br>

Prozkoumej samotn√Ω soubor:

In [123]:
!cat ../onsite/customers_inp.csv

customer_id;first_name;last_name;phone;email
11;Matous;Holinka;`+420777666555;matous@matousholinka.com
12;Marek;Parek;`+420777434111;marek.parek@gmail.com
13;Petr;Svetr;`+420777333111;petr@svetr.com
14;Alice;Svobodova;`+420777200300;svobodova.a@email.cz
15;Tereza;Novakova;`+420777608080;novakova_terka@seznam.cz

<br>

Nyn√≠ se pod√≠vej jak vypad√° novƒõ vytvo≈ôen√Ω `DataFrame`:

In [126]:
type(zamestnanci_df)

pandas.core.frame.DataFrame

In [127]:
zamestnanci_df

        customer_id;first_name;last_name;phone;email
0  11;Matous;Holinka;`+420777666555;matous@matous...
1  12;Marek;Parek;`+420777434111;marek.parek@gmai...
2        13;Petr;Svetr;`+420777333111;petr@svetr.com
3  14;Alice;Svobodova;`+420777200300;svobodova.a@...
4  15;Tereza;Novakova;`+420777608080;novakova_ter...

Je pot≈ôeba pohl√≠dat si (nen√≠ ≈ôazen√© podle priorit):
* indexy,
* z√°hlav√≠,
* strukturu jednotliv√Ωch `Series`,
* datov√© typy.

<br>

Pokud nesed√≠ **defaultn√≠ oddƒõlovaƒç** (*sep* nebo *delimiter*):

In [135]:
!cat ../onsite/customers_inp.csv

customer_id;first_name;last_name;phone;email
11;Matous;Holinka;+420777666555;matous@matousholinka.com
12;Marek;Parek;+420777434111;marek.parek@gmail.com
13;Petr;Svetr;+420777333111;petr@svetr.com
14;Alice;Svobodova;+420777200300;svobodova.a@email.cz
15;Tereza;Novakova;+420777608080;novakova_terka@seznam.cz

In [136]:
zamestnanci_strednik_df = pd.read_csv('../onsite/customers_inp.csv', sep=';')

In [137]:
zamestnanci_strednik_df

   customer_id first_name  last_name         phone                     email
0           11     Matous    Holinka  420777666555  matous@matousholinka.com
1           12      Marek      Parek  420777434111     marek.parek@gmail.com
2           13       Petr      Svetr  420777333111            petr@svetr.com
3           14      Alice  Svobodova  420777200300      svobodova.a@email.cz
4           15     Tereza   Novakova  420777608080  novakova_terka@seznam.cz

<br>

M≈Ø≈æe≈° zadat jin√Ω ne≈æ *defaultn√≠* oddƒõlovaƒç:

In [138]:
zamestnanci_strednik_df['phone']

0    420777666555
1    420777434111
2    420777333111
3    420777200300
4    420777608080
Name: phone, dtype: int64

**Nevhodn√© datov√© typy** je tak√© mo≈æn√© ≈ôe≈°it p≈ôi nov√© inicializaci `DataFrame`:

In [139]:
zamestnanci_strednik_df.dtypes

customer_id     int64
first_name     object
last_name      object
phone           int64
email          object
dtype: object

Pokud pot≈ôebuje≈° *vynutit* konverzi datov√©ho typu:

In [140]:
zamestnanci_bez_cisel_df = pd.read_csv(
    '../onsite/customers_inp.csv',
    sep=";",
    dtype={
        "customer_id": str,
        # "first_name": str,
        # "last_name": str,
        # "phone": str,
        # "email": str
    }
)

In [141]:
zamestnanci_bez_cisel_df.dtypes

customer_id    object
first_name     object
last_name      object
phone           int64
email          object
dtype: object

<br>

### Naƒçti tabulku `html`

---

Funkce `read_html` ƒçasto zast√°v√° nƒõkter√© kroky *web scrapov√°n√≠*.

P≈ôesto je jej√≠m uƒçelem "pouze" extrahov√°n√≠ dat v HTML `<table></table>` elementech.

Uk√°zka [zdroj](https://simple.wikipedia.org/wiki/List_of_U.S._states).

In [145]:
%run ../../shared/onsite/demo_read_html.py

  Flag, name and postal abbreviation [1]  \
  Flag, name and postal abbreviation [1]
0                                Alabama
1                                 Alaska
2                                Arizona
3                               Arkansas
4                             California
5                               Colorado
6                            Connecticut
7                               Delaware
8                                Florida
9                                Georgia

                                                 Cities  \
  Flag, name and postal abbreviation [1].1      Capital
0                                       AL   Montgomery
1                                       AK       Juneau
2                                       AZ      Phoenix
3                                       AR  Little Rock
4                                       CA   Sacramento
5                                       CO       Denver
6                                       CT     Hartford
7                                       DE        Dover
8                                       FL  Tallahassee
9                                       GA      Atlanta

                             Established[A] Population [3] Total area[4]  \
  Largest (by population)[5] Established[A] Population [3]           mi2
0                 Huntsville   Dec 14, 1819        5024279         52420
1                  Anchorage    Jan 3, 1959         733391        665384
2                    Phoenix   Feb 14, 1912        7151502        113990
3                Little Rock   Jun 15, 1836        3011524         53179
4                Los Angeles    Sep 9, 1850       39538223        163695
5                     Denver    Aug 1, 1876        5773714        104094
6                 Bridgeport    Jan 9, 1788        3605944          5543
7                 Wilmington    Dec 7, 1787         989948          2489
8               Jacksonville    Mar 3, 1845       21538187         65758
9                    Atlanta    Jan 2, 1788       10711908         59425

           Land area[4]          Water area[4]         Number of Reps.
       km2          mi2      km2           mi2     km2 Number of Reps.
0   135767        50645   131171          1775    4597               7
1  1723337       570641  1477953         94743  245384               1
2   295234       113594   294207           396    1026               9
3   137732        52035   134771          1143    2961               4
4   423967       155779   403466          7916   20501              52
5   269601       103642   268431           452    1170               8
6    14357         4842    12542           701    1816               5
7     6446         1949     5047           540    1399               1
8   170312        53625   138887         12133   31424              28
9   153910        57513   148959          1912    4951              14

<br>

**üß† CVIƒåEN√ç üß†, naƒçti vlastn√≠ CSV soubor**.

In [ ]:
# Z√°pis
cesta_k_souboru: str = '../onsite/games.csv'

In [ ]:
from pandas import read_csv

In [ ]:
from pathlib import Path

if not Path(cesta_k_souboru).exists():
    print('Chybi soubor pro zpracovani')

hry_df = read_csv(cesta_k_souboru)

In [ ]:
hry_df.head(2)

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
import pandas as pd

muj_csv_soubor = 'toto/je/relativni/cesta.csv'

testovaci_data = pd.read_csv(muj_csv_soubor)
```
</details>

<br>

### Souhrn kapitoly

---

Typick√Ω postup, pro pr√°ci s pandami, je identifikovat a spr√°vnƒõ naƒç√≠st datov√Ω zdroj.


<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.ACSOiM-U0Q1dA-4JLXwShAHaHx%26pid%3DApi&f=1&ipt=6d4afed7c3560452103fe53af2bd94638c28007aa3141700570a84c7fab7263a&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

<br>

## Prozkoum√°v√°n√≠ dat

---

Jakmile m√°≈° data spr√°vnƒõ naƒçten√° a p≈ôetypovan√°, m≈Ø≈æe≈° s nimi zaƒç√≠t pracovat.

Ne≈æ se do toho vrhne≈°, nen√≠ ≈°patn√©, umƒõt je prohl√≠≈æet.

<br>

### Selekce u sloupeƒçk≈Ø

---

Kv≈Øli jasnosti a p≈ôehlednosti je obecnƒõ v√Ωhodnƒõj≈°√≠ a doporuƒçov√°n√©, pracovat s atributy `loc` a `iloc`.

In [146]:
jmena_sl.loc[:2]

1    Matous
2     Marek
dtype: object

<br>

### Selekce u tabel√°rn√≠ch hodnot

---

Jeliko≈æ je `DataFrame` slo≈æen√Ω ze sloupeƒçk≈Ø, m≈Ø≈æe≈° aplikovat nƒõkter√© postupy z uplynul√© teorie.

* **slovn√≠kov√Ω kl√≠ƒç**,
* **atributov√Ω p≈ô√≠stup**,
* **slovn√≠kov√Ω n√°hled**,
* `loc`, `iloc`, `ix`, `T`.

In [147]:
from pandas import DataFrame

In [148]:
populace_evropa = {
    'Dansko': 5_655_750,
    'Ceska_republika': 10_513_209,
    'Nemecko': 80_716_000,
    'Polsko': 38_483_957,
    'Slovensko': 5_415_949,
    'Rakousko': 8_932_664
}

In [149]:
rozloha_evropa = {
    'Dansko': 42_916,
    'Ceska_republika': 78_870,
    'Nemecko': 357_168,
    'Polsko': 312_679,
    'Slovensko': 49_035,
    'Rakousko': 83_878
}

In [150]:
zeme_evropa_df = DataFrame({"populace": populace_evropa, "rozloha": rozloha_evropa})

In [151]:
zeme_evropa_df

                 populace  rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168
Polsko           38483957   312679
Slovensko         5415949    49035
Rakousko          8932664    83878

<br>

#### P≈ô√≠stup pomoc√≠ kl√≠ƒç≈Ø

---

In [152]:
zeme_evropa_df["populace"]

Dansko              5655750
Ceska_republika    10513209
Nemecko            80716000
Polsko             38483957
Slovensko           5415949
Rakousko            8932664
Name: populace, dtype: int64

In [153]:
zeme_evropa_df["rozloha"]

Dansko              42916
Ceska_republika     78870
Nemecko            357168
Polsko             312679
Slovensko           49035
Rakousko            83878
Name: rozloha, dtype: int64

<br>

#### P≈ô√≠stup pomoc√≠ atribut≈Ø

---

In [154]:
# bool(zeme_evropa_df["rozloha"] is zeme_evropa_df.rozloha)

In [155]:
zeme_evropa_df.populace

Dansko              5655750
Ceska_republika    10513209
Nemecko            80716000
Polsko             38483957
Slovensko           5415949
Rakousko            8932664
Name: populace, dtype: int64

In [156]:
zeme_evropa_df.rozloha

Dansko              42916
Ceska_republika     78870
Nemecko            357168
Polsko             312679
Slovensko           49035
Rakousko            83878
Name: rozloha, dtype: int64

In [157]:
zeme_evropa_df.rozloha > 100_000

Dansko             False
Ceska_republika    False
Nemecko             True
Polsko              True
Slovensko          False
Rakousko           False
Name: rozloha, dtype: bool

In [158]:
zeme_evropa_df[zeme_evropa_df.rozloha > 100_000]

         populace  rozloha
Nemecko  80716000   357168
Polsko   38483957   312679

In [159]:
zeme_evropa_df[zeme_evropa_df["rozloha"] > 100_000]

         populace  rozloha
Nemecko  80716000   357168
Polsko   38483957   312679

Opatrnƒõ, atributov√Ω p≈ô√≠stup nelze aplikovat, pokud je jm√©no sloupeƒçku shodn√© s nƒõkter√Ωm **z rezerovan√Ωch v√Ωraz≈Ø**.

<br>

#### Slovn√≠kov√Ω n√°hled

---

In [160]:
zeme_evropa_df.index

Index(['Dansko', 'Ceska_republika', 'Nemecko', 'Polsko', 'Slovensko',
       'Rakousko'],
      dtype='object')

In [161]:
zeme_evropa_df.columns

Index(['populace', 'rozloha'], dtype='object')

In [162]:
zeme_evropa_df.values

array([[ 5655750,    42916],
       [10513209,    78870],
       [80716000,   357168],
       [38483957,   312679],
       [ 5415949,    49035],
       [ 8932664,    83878]])

<br>

#### loc

---

Stejn√° pravidla jako pro `Series`, nicm√©ne tentokr√°t m≈Ø≈æe≈° vyb√≠rat buƒè jednotliv√© Indexy, nebo pole Index≈Ø:

In [163]:
zeme_evropa_df

                 populace  rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168
Polsko           38483957   312679
Slovensko         5415949    49035
Rakousko          8932664    83878

In [164]:
zeme_evropa_df.loc["Nemecko"]

populace    80716000
rozloha       357168
Name: Nemecko, dtype: int64

In [165]:
zeme_evropa_df.loc[:"Nemecko"]

                 populace  rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168

<br>

D√°le m≈Ø≈æe≈° vyb√≠rat kombinaci Index≈Ø a sloupce nebo rozsah sloupc≈Ø:

In [166]:
zeme_evropa_df.loc["Nemecko", "populace"]

np.int64(80716000)

In [167]:
zeme_evropa_df.loc[:"Nemecko", "populace"]

Dansko              5655750
Ceska_republika    10513209
Nemecko            80716000
Name: populace, dtype: int64

In [168]:
zeme_evropa_df.loc["Ceska_republika":"Nemecko", :"rozloha"]

                 populace  rozloha
Ceska_republika  10513209    78870
Nemecko          80716000   357168

<br>

#### iloc

---

In [169]:
zeme_evropa_df.iloc[:3, 1]

Dansko              42916
Ceska_republika     78870
Nemecko            357168
Name: rozloha, dtype: int64

<br>

#### Transformace

---

In [170]:
zeme_evropa_df.T

           Dansko  Ceska_republika   Nemecko    Polsko  Slovensko  Rakousko
populace  5655750         10513209  80716000  38483957    5415949   8932664
rozloha     42916            78870    357168    312679      49035     83878

#### ix

---

Jde o atribut-hybrid, kter√Ω kombinuje mixov√°n√≠ styl≈Ø z `loc` a `iloc`.

Tento *legacy atribut* ji≈æ neexistuje.

In [171]:
zeme_evropa_df.ix[:"Nemecko", :2]  # iloc + loc --> dnes AttributeError

AttributeError: 'DataFrame' object has no attribute 'ix'

<img src="https://imgs.search.brave.com/lQb3xLIlg9zkzNeOExyC9yipGtQiF1BrVKrC4BwqbF8/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA1LzU0LzExLzY3/LzM2MF9GXzU1NDEx/Njc4Nl9DZGhSbWha/YWlaRjdvUVhVajYz/d2RTSzVjOGo5SXNL/bS5qcGc" width="250" style="margin-left:auto; margin-right:auto"/>

<br>

### Metody pro pr≈Øzkumu dat a nahl√≠≈æen√≠

---

N√°sleduj√≠c√≠ metody ti ulehƒç√≠ nahl√≠≈æen√≠ a prozkoum√°v√°n√≠ dat.

Jsou to metody:
* `info()`,
* `describe()`,
* `head()`,
* `tail()`,

In [172]:
from pandas import DataFrame

In [173]:
populace_evropa = {
    'Dansko': 5_655_750,
    'Ceska_republika': 10_513_209,
    'Nemecko': 80_716_000,
    'Polsko': 38_483_957,
    'Slovensko': 5_415_949,
    'Rakousko': 8_932_664
}

In [174]:
rozloha_evropa = {
    'Dansko': 42_916,
    'Ceska_republika': 78_870,
    'Nemecko': 357_168,
    'Polsko': 312_679,
    'Slovensko': 49_035,
    'Rakousko': 83_878
}

In [175]:
zeme_evropa_df = DataFrame({"populace": populace_evropa, "rozloha": rozloha_evropa})

<br>

#### Metoda `info()`

---

Jde o obecnou informaci o DataFrame:

In [176]:
zeme_evropa_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Dansko to Rakousko
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   populace  6 non-null      int64
 1   rozloha   6 non-null      int64
dtypes: int64(2)
memory usage: 144.0+ bytes

Z v√Ωstupu potom p≈ôeƒçte≈°:
* poƒçet index≈Ø,
* poƒçet sloupc≈Ø,
* poƒçet nepr√°zdn√Ωch, nenulov√Ωch hodnot,
* datov√© typy pro sloupce.

<br>

#### Metoda `describe()`

---

Tato metoda ti nepod√°v√° z√°kladn√≠ informaci o DataFrame, ale sp√≠≈°e **pracuje s ƒç√≠seln√Ωmi sloupci**.


Poskytuje z√°kladn√≠ **statistick√© p≈ôehledy** jako:
* pr≈Ømƒõr,
* medi√°n,
* minim√°ln√≠ & maxim√°ln√≠ hodnota,
* rozptyl.

In [177]:
zeme_evropa_df['populace'].describe()

count    6.000000e+00
mean     2.495292e+07
std      3.003943e+07
min      5.415949e+06
25%      6.474978e+06
50%      9.722936e+06
75%      3.149127e+07
max      8.071600e+07
Name: populace, dtype: float64

<br>

#### Metody `head()` a `tail()`

---

Obƒõ metody pracuj√≠ jako n√°hledov√© metody. K lep≈°√≠mu pohledu na konkr√©tn√≠ ≈ô√°dky.

1. `head`, prozkoum√° **prvn√≠ch pƒõt ≈ô√°dk≈Ø** (defaultnƒõ),
2. `tail`, prozkoum√° **posledn√≠ch pƒõt ≈ô√°dk≈Ø** (defaultnƒõ),

In [178]:
zeme_evropa_df.head(3)  # truncate,

                 populace  rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168

In [179]:
zeme_evropa_df.tail(4)

           populace  rozloha
Nemecko    80716000   357168
Polsko     38483957   312679
Slovensko   5415949    49035
Rakousko    8932664    83878

In [180]:
pokusny_index_df = read_csv('../onsite/customers_inp.csv', sep=';', index_col='customer_id')

In [181]:
pokusny_index_df

            first_name  last_name         phone                     email
customer_id
11              Matous    Holinka  420777666555  matous@matousholinka.com
12               Marek      Parek  420777434111     marek.parek@gmail.com
13                Petr      Svetr  420777333111            petr@svetr.com
14               Alice  Svobodova  420777200300      svobodova.a@email.cz
15              Tereza   Novakova  420777608080  novakova_terka@seznam.cz

<br>

**üß† CVIƒåEN√ç üß†, dikt√°t s pandama.**

**Nahraj zadan√Ω soubor do promƒõnn√© `hry_df`**

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
hry_df = read_csv("../onsite/lesson02/games.csv")
```
</details>

<br>

**Vytvo≈ô promƒõnnou `jen_souhrn`, kter√° obsahuje pouze sloupec `Summary`**

In [ ]:
jen_souhrn

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    souhrn = hry_df.Summary
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `prvni_souhrn`, kter√° obsahuje pouze prvn√≠ ≈ô√°dek ze sloupce `Summary`**

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    prvni_radek = hry_df.Summary.iloc[0]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `prvni_radek_tab`, kter√° obsahuje cel√Ω prvn√≠ z√°znam z tabulky, z `hry_df`**

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    prvni_radek_tab = hry_df.iloc[0]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `prvnich_deset_souhrnu`, kam naƒçti prvn√≠ch deset ≈ô√°dk≈Ø z vybran√©ho sloupeƒçku `Summary`**

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    prvni_souhrny = hry_df.Summary.iloc[:10]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `vzorek_indexu`, kam naƒçti z√°znamy z index≈Ø **2, 4, 5, 6, 7** a **9** z cel√© tabulky**

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    vzorek_indexu = hry_df.loc[[2, 4, 5, 6, 7, 9]]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `hodnoceni`, naƒçti z√°znamy z index≈Ø **1, 5, 10, 100, 1000** z cel√© tabulky a vyber pouze sloupeƒçky `Title`, `Rating`, `Release Date`, `Number of Reviews`**

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    hodnoceni = hry_df.loc[[1, 5, 10, 100, 1000], ["Title", "Rating", "Release Date", "Number of Reviews"]]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `prvnich_sto`, kter√° obsahuje pouze sloupeƒçky `Title`a `Rating`. D√°le pot≈ôebuje≈° ulo≈æit pouze **prvn√≠ch 100 index≈Ø****

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    prvnich_sto = hry_df.loc[:99, ["Title", "Rating"]]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `vyber`, kter√° obsahuje dva sloupeƒçky `Title` a `Rating`, kde ve sloupeƒçku `rating` chce≈° z√≠skat pouze takov√© tituly, kter√© maj√≠ hodnocen√≠ vƒõt≈°√≠ nebo rovnou `4.6`**

In [ ]:
vyber

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    vyber_her = hry_df[hry_df["Rating"] >= 4.6]
    ```

</details>

<br>

## Manipulace se sloupci

---


<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.tzaGc-M5pl0DP6pGu-H6WgHaHa%26pid%3DApi&f=1&ipt=39909793c49bf980b8dbceaabe312870e1446f58fba1e6b430630cfbddd2b9c4&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

Jakmile se dovede≈° zorientovat v datov√Ωch struktur√°ch knihovny `pandas`, m≈Ø≈æe≈° zaƒç√≠t upravovat jejich obsah:
1. **P≈ôejmenovat** sloupce,
2. **vytvo≈ôit** nov√© sloupce,
3. **odstranit** existuj√≠c√≠ sloupce.

### P≈ôejmenov√°n√≠ sloupc≈Ø

---

Pokud bude≈° nƒõkdy z√°pasit se ≈°patnƒõ pojmenovan√Ωm sloupcem nebo sloupci, p≈ôejmenuj je pomoc√≠ metody `rename`.

In [211]:
uzivatele: dict[str, list] = {
    'jmeno': ['Matou≈°', 'Marek', 'Luk√°≈°', 'Jan'],
    'age': [23, 25, 27, 29],
    'vaha': [65, 70, 75, 80],
    'vyska': [160, 170, 180, 190]
}

In [212]:
uzivatele_df = pd.DataFrame(uzivatele)

In [213]:
uzivatele_df

    jmeno  age  vaha  vyska
0  Matou≈°   23    65    160
1   Marek   25    70    170
2   Luk√°≈°   27    75    180
3     Jan   29    80    190

V uk√°zce v√Ω≈° tƒõ omezuje **jazykov√° nekonzistence** mezi sloupeƒçky.

Pomoc√≠ metody `rename` a argumentu `columns`, m≈Ø≈æe≈° pomoc√≠ `dict` anotace vybrat, co a ƒç√≠m p≈ôejmenovat:

In [214]:
uzivatele_df.rename(columns={"age": "vek"})

    jmeno  vek  vaha  vyska
0  Matou≈°   23    65    160
1   Marek   25    70    170
2   Luk√°≈°   27    75    180
3     Jan   29    80    190

P≈ôi dal≈°√≠ kontrole zjist√≠≈°, ≈æe **nov√© jm√©no sloupeƒçku zmizelo**:

In [215]:
uzivatele_df

    jmeno  age  vaha  vyska
0  Matou≈°   23    65    160
1   Marek   25    70    170
2   Luk√°≈°   27    75    180
3     Jan   29    80    190

<br>

Celou situaci m≈Ø≈æe≈° ≈ôe≈°it dvƒõma zp≈Øsoby:
1. Voliteln√Ω argument `inplace`,
2. kopie p≈Øvodn√≠ho `DataFrame` objektu.

In [ ]:
prejmenovany_sloupec_df = uzivatele_df.rename(
    columns={"age": "vek"})

In [217]:
prejmenovany_sloupec_df

    jmeno  vek  vaha  vyska
0  Matou≈°   23    65    160
1   Marek   25    70    170
2   Luk√°≈°   27    75    180
3     Jan   29    80    190

In [218]:
uzivatele_df

    jmeno  age  vaha  vyska
0  Matou≈°   23    65    160
1   Marek   25    70    170
2   Luk√°≈°   27    75    180
3     Jan   29    80    190

In [219]:
uzivatele_df.rename(columns={"age": "vek"}, inplace=True)  # Za cenu rizika!

In [220]:
uzivatele_df

    jmeno  vek  vaha  vyska
0  Matou≈°   23    65    160
1   Marek   25    70    170
2   Luk√°≈°   27    75    180
3     Jan   29    80    190

Opatrnƒõ na pr√°ci s argumentem `inplace`.

Jeho pou≈æit√≠ v≈ædy d≈Økladnƒõ zva≈æ, a≈• neztrat√≠≈° zdrojov√° data.

<br>

P≈ôejmenovat m≈Ø≈æe≈° i **v√≠ce sloupc≈Ø** souƒçasnƒõ:

In [221]:
nova_jmena_sloupcu = {  # CZ > EN
    "jmeno": "first_name",
    "vek": "age",
    "vaha": "weight",
    "vyska": "height"
}

In [222]:
uzivatele_df.rename(columns=nova_jmena_sloupcu, inplace=True)

In [223]:
uzivatele_df

  first_name  age  weight  height
0     Matou≈°   23      65     160
1      Marek   25      70     170
2      Luk√°≈°   27      75     180
3        Jan   29      80     190

### P≈ôid√°v√°n√≠ sloupc≈Ø do DataFrame

---

Pot≈ôebuje≈° doplnit dal≈°√≠ sloupec. Nebo upravit data v jednom sloupci a v√Ωsledek zapsat do dal≈°√≠ho.

Nejƒçastƒõji m≈Ø≈æe≈° pracovat **na p≈ôid√°v√°n√≠ nov√Ωch sloupc≈Ø** tƒõmito t≈ôemi zp≈Øsoby:
1. **Slovn√≠kov√° anotace** pomoc√≠ kl√≠ƒçe a hodnoty,
2. v√Ωsledek pomoc√≠ operace **mezi dvƒõma sloupci**,
3. pomoc√≠ metody `apply`.

#### Jako kl√≠ƒç a hodnota

Takov√Ω zp≈Øsob pou≈æije≈°, pokud m√°≈° nachystan√© hodnoty pro nov√Ω sloupec:

In [224]:
uzivatele_df

  first_name  age  weight  height
0     Matou≈°   23      65     160
1      Marek   25      70     170
2      Luk√°≈°   27      75     180
3        Jan   29      80     190

In [225]:
uzivatele_df['surname'] = ("Holinka", "P√°rek", "Holinka", "Nov√°k")

In [226]:
uzivatele_df

  first_name  age  weight  height  surname
0     Matou≈°   23      65     160  Holinka
1      Marek   25      70     170    P√°rek
2      Luk√°≈°   27      75     180  Holinka
3        Jan   29      80     190    Nov√°k

<br>

#### Kombinace existuj√≠c√≠ch sloupc≈Ø

---

Tento zp≈Øsob lze pou≈æ√≠t, pokud chce≈° vytvo≈ôit nov√Ω sloupec pomoc√≠ operac√≠ mezi existuj√≠c√≠mi sloupci:

In [227]:
uzivatele_df["bmi"] = uzivatele_df["weight"] / (uzivatele_df["height"] / 100) ** 2

In [228]:
uzivatele_df

  first_name  age  weight  height  surname        bmi
0     Matou≈°   23      65     160  Holinka  25.390625
1      Marek   25      70     170    P√°rek  24.221453
2      Luk√°≈°   27      75     180  Holinka  23.148148
3        Jan   29      80     190    Nov√°k  22.160665

In [229]:
uzivatele_df = uzivatele_df.assign(city="Praha")

In [230]:
uzivatele_df

  first_name  age  weight  height  surname        bmi   city
0     Matou≈°   23      65     160  Holinka  25.390625  Praha
1      Marek   25      70     170    P√°rek  24.221453  Praha
2      Luk√°≈°   27      75     180  Holinka  23.148148  Praha
3        Jan   29      80     190    Nov√°k  22.160665  Praha

In [231]:
uzivatele_df.assign(
    vek_za_5_let=uzivatele_df["age"] + 5,
    mlady=uzivatele_df["age"] < 28
)

,first_name,age,weight,height,surname,bmi,city,vek_za_5_let,mlady
0,Matou≈°,23,65,160,Holinka,25.390625,Praha,28,True
1,Marek,25,70,170,P√°rek,24.221453,Praha,30,True
2,Luk√°≈°,27,75,180,Holinka,23.148148,Praha,32,True
3,Jan,29,80,190,Nov√°k,22.160665,Praha,34,False

In [232]:
uzivatele_df

  first_name  age  weight  height  surname        bmi   city
0     Matou≈°   23      65     160  Holinka  25.390625  Praha
1      Marek   25      70     170    P√°rek  24.221453  Praha
2      Luk√°≈°   27      75     180  Holinka  23.148148  Praha
3        Jan   29      80     190    Nov√°k  22.160665  Praha

#### Metoda `apply`

---

Pokud pot≈ôebuje≈° aplikovat u≈æiv. funkci **pro st√°vaj√≠c√≠ sloupec**, vyu≈æije≈° metodu `apply`:

In [233]:
uzivatele_df

  first_name  age  weight  height  surname        bmi   city
0     Matou≈°   23      65     160  Holinka  25.390625  Praha
1      Marek   25      70     170    P√°rek  24.221453  Praha
2      Luk√°≈°   27      75     180  Holinka  23.148148  Praha
3        Jan   29      80     190    Nov√°k  22.160665  Praha

In [234]:
def vytvor_email(prijmeni: str, domena: str = "gmail.com") -> str:
    """
    Vra≈• zform√°tovan√Ω string, kter√Ω tvo≈ô√≠ emailovou adresu.
    """
    return f"{prijmeni.lower()}@{domena}"

In [235]:
vytvor_email(prijmeni='holinka')

'holinka@gmail.com'

In [237]:
uzivatele_df['email'] = uzivatele_df['surname'].apply(vytvor_email)

In [238]:
uzivatele_df

,first_name,age,weight,height,surname,bmi,city,email
0,Matou≈°,23,65,160,Holinka,25.390625,Praha,holinka@gmail.com
1,Marek,25,70,170,P√°rek,24.221453,Praha,p√°rek@gmail.com
2,Luk√°≈°,27,75,180,Holinka,23.148148,Praha,holinka@gmail.com
3,Jan,29,80,190,Nov√°k,22.160665,Praha,nov√°k@gmail.com

<br>

Pokud bude≈° pot≈ôebovat pracovat **s v√≠ce sloupeƒçky**:

In [247]:
from pandas import Series

def vytvor_novy_email(radek: Series, domena: str = "gmail.com") -> str:
    """
    Vra≈• zform√°tovan√Ω string, kter√Ω tvo≈ô√≠ emailovou adresu.
    """
    return f"{radek['first_name'].lower()}.{radek['surname'].lower()}@{domena}"

In [248]:
jeden_uzivatel = pd.DataFrame({'first_name': ['Matous'], 'surname': ['Test']})
jeden_uzivatel

  first_name surname
0     Matous    Test

In [249]:
jeden_uzivatel.iloc[0]

first_name    Matous
surname         Test
Name: 0, dtype: object

In [250]:
vytvor_novy_email(radek=jeden_uzivatel.iloc[0])

'matous.test@gmail.com'

In [251]:
uzivatele_df

,first_name,age,weight,height,surname,bmi,city,email
0,Matou≈°,23,65,160,Holinka,25.390625,Praha,holinka@gmail.com
1,Marek,25,70,170,P√°rek,24.221453,Praha,p√°rek@gmail.com
2,Luk√°≈°,27,75,180,Holinka,23.148148,Praha,holinka@gmail.com
3,Jan,29,80,190,Nov√°k,22.160665,Praha,nov√°k@gmail.com

In [252]:
uzivatele_df['dalsi_email'] = uzivatele_df.apply(vytvor_novy_email, axis=1)

In [ ]:
uzivatele_df

,jmeno,vek,vaha,vyska,prijmeni,novy_email,dalsi_email
0,Matou≈°,23,65,160,Holinka,Matou≈°.Holinka@gmail.com,matou≈°.holinka@gmail.com
1,Marek,25,70,170,P√°rek,Marek.P√°rek@gmail.com,marek.p√°rek@gmail.com
2,Luk√°≈°,27,75,180,Holinka,Luk√°≈°.Holinka@gmail.com,luk√°≈°.holinka@gmail.com
3,Jan,29,80,190,Nov√°k,Jan.Nov√°k@gmail.com,jan.nov√°k@gmail.com

<br>

Nepovinn√Ω argument `axis` v ohl√°≈°en√≠ ≈ô√≠k√°, ≈æe chce aplikovat metodu **na ≈ô√°dkov√© hodnoty**.

In [255]:
uzivatele_df.apply?

Signature:
uzivatele_df.apply(
    func: 'AggFuncType',
    axis: 'Axis' = 0,
    raw: 'bool' = False,
    result_type: "Literal['expand', 'reduce', 'broadcast'] | None" = None,
    args=(),
    by_row: "Literal[False, 'compat']" = 'compat',
    engine: "Literal['python', 'numba']" = 'python',
    engine_kwargs: 'dict[str, bool] | None' = None,
    **kwargs,
)
Docstring:
Apply a function along an axis of the DataFrame.

Objects passed to the function are Series objects whose index is
either the DataFrame's index (``axis=0``) or the DataFrame's columns
(``axis=1``). By default (``result_type=None``), the final return type
is inferred from the return type of the applied function. Otherwise,
it depends on the `result_type` argument.

Parameters
----------
func : function
    Function to apply to each column or row.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Axis along which the function is applied:

    * 0 or 'index': apply function to each column.
    * 1 or 'columns': apply function to each row.

raw : bool, default False
    Determines if row or column is passed as a Series or ndarray object:

    * ``False`` : passes each row or column as a Series to the
      function.
    * ``True`` : the passed function will receive ndarray objects
      instead.
      If you are just applying a NumPy reduction function this will
      achieve much better performance.

result_type : {'expand', 'reduce', 'broadcast', None}, default None
    These only act when ``axis=1`` (columns):

    * 'expand' : list-like results will be turned into columns.
    * 'reduce' : returns a Series if possible rather than expanding
      list-like results. This is the opposite of 'expand'.
    * 'broadcast' : results will be broadcast to the original shape
      of the DataFrame, the original index and columns will be
      retained.

    The default behaviour (None) depends on the return value of the
    applied function: list-like results will be returned as a Series
    of those. However if the apply function returns a Series these
    are expanded to columns.
args : tuple
    Positional arguments to pass to `func` in addition to the
    array/series.
by_row : False or "compat", default "compat"
    Only has an effect when ``func`` is a listlike or dictlike of funcs
    and the func isn't a string.
    If "compat", will if possible first translate the func into pandas
    methods (e.g. ``Series().apply(np.sum)`` will be translated to
    ``Series().sum()``). If that doesn't work, will try call to apply again with
    ``by_row=True`` and if that fails, will call apply again with
    ``by_row=False`` (backward compatible).
    If False, the funcs will be passed the whole Series at once.

    .. versionadded:: 2.1.0

engine : {'python', 'numba'}, default 'python'
    Choose between the python (default) engine or the numba engine in apply.

    The numba engine will attempt to JIT compile the passed function,
    which may result in speedups for large DataFrames.
    It also supports the following engine_kwargs :

    - nopython (compile the function in nopython mode)
    - nogil (release the GIL inside the JIT compiled function)
    - parallel (try to apply the function in parallel over the DataFrame)

      Note: Due to limitations within numba/how pandas interfaces with numba,
      you should only use this if raw=True

    Note: The numba compiler only supports a subset of
    valid Python/numpy operations.

    Please read more about the `supported python features
    <https://numba.pydata.org/numba-doc/dev/reference/pysupported.html>`_
    and `supported numpy features
    <https://numba.pydata.org/numba-doc/dev/reference/numpysupported.html>`_
    in numba to learn what you can or cannot use in the passed function.

    .. versionadded:: 2.2.0

engine_kwargs : dict
    Pass keyword arguments to the engine.
    This is currently only used by the numba engine,
    see the documentation for the engine argument for more information.
**kwargs
    Additional keyword arguments to pass as keywords arguments to
    `func`.

Returns
-------
Series or DataFrame
    Result of applying ``func`` along the given axis of the
    DataFrame.

See Also
--------
DataFrame.map: For elementwise operations.
DataFrame.aggregate: Only perform aggregating type operations.
DataFrame.transform: Only perform transforming type operations.

Notes
-----
Functions that mutate the passed object can produce unexpected
behavior or errors and are not supported. See :ref:`gotchas.udf-mutation`
for more details.

Examples
--------
>>> df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])
>>> df
   A  B
0  4  9
1  4  9
2  4  9

Using a numpy universal function (in this case the same as
``np.sqrt(df)``):

>>> df.apply(np.sqrt)
     A    B
0  2.0  3.0
1  2.0  3.0
2  2.0  3.0

Using a reducing function on either axis

>>> df.apply(np.sum, axis=0)
A    12
B    27
dtype: int64

>>> df.apply(np.sum, axis=1)
0    13
1    13
2    13
dtype: int64

Returning a list-like will result in a Series

>>> df.apply(lambda x: [1, 2], axis=1)
0    [1, 2]
1    [1, 2]
2    [1, 2]
dtype: object

Passing ``result_type='expand'`` will expand list-like results
to columns of a Dataframe

>>> df.apply(lambda x: [1, 2], axis=1, result_type='expand')
   0  1
0  1  2
1  1  2
2  1  2

Returning a Series inside the function is similar to passing
``result_type='expand'``. The resulting column names
will be the Series index.

>>> df.apply(lambda x: pd.Series([1, 2], index=['foo', 'bar']), axis=1)
   foo  bar
0    1    2
1    1    2
2    1    2

Passing ``result_type='broadcast'`` will ensure the same shape
result, whether list-like or scalar is returned by the function,
and broadcast it along the axis. The resulting column names will
be the originals.

>>> df.apply(lambda x: [1, 2], axis=1, result_type='broadcast')
   A  B
0  1  2
1  1  2
2  1  2
File:      ~/.pyenv/versions/3.12.5/lib/python3.12/site-packages/pandas/core/frame.py
Type:      method

In [256]:
uzivatele_df.head()

,first_name,age,weight,height,surname,bmi,city,email,dalsi_email
0,Matou≈°,23,65,160,Holinka,25.390625,Praha,holinka@gmail.com,matou≈°.holinka@gmail.com
1,Marek,25,70,170,P√°rek,24.221453,Praha,p√°rek@gmail.com,marek.p√°rek@gmail.com
2,Luk√°≈°,27,75,180,Holinka,23.148148,Praha,holinka@gmail.com,luk√°≈°.holinka@gmail.com
3,Jan,29,80,190,Nov√°k,22.160665,Praha,nov√°k@gmail.com,jan.nov√°k@gmail.com

Tento zp≈Øsob lze pou≈æ√≠t, pokud chce≈° vytvo≈ôit **nov√Ω sloupec** pomoc√≠ nƒõjak√© funkce na jednotliv√© ≈ô√°dky nebo sloupce `DataFrame`.

<br>

### Odstra≈àov√°n√≠ sloupeƒçk≈Ø

---

K odstranƒõn√≠ sloupc≈Ø z `DataFrame` objektu m≈Ø≈æe≈° pou≈æ√≠t nƒõkolik metod:
1. pythonovskou funkci `del`,
2. metodu `drop`,
3. metodu `pop`.

In [257]:
uzivatele_df

,first_name,age,weight,height,surname,bmi,city,email,dalsi_email
0,Matou≈°,23,65,160,Holinka,25.390625,Praha,holinka@gmail.com,matou≈°.holinka@gmail.com
1,Marek,25,70,170,P√°rek,24.221453,Praha,p√°rek@gmail.com,marek.p√°rek@gmail.com
2,Luk√°≈°,27,75,180,Holinka,23.148148,Praha,holinka@gmail.com,luk√°≈°.holinka@gmail.com
3,Jan,29,80,190,Nov√°k,22.160665,Praha,nov√°k@gmail.com,jan.nov√°k@gmail.com

In [259]:
'dalsi_email' in uzivatele_df.columns

True

In [261]:
uzivatele_df.drop?

Signature:
uzivatele_df.drop(
    labels: 'IndexLabel | None' = None,
    *,
    axis: 'Axis' = 0,
    index: 'IndexLabel | None' = None,
    columns: 'IndexLabel | None' = None,
    level: 'Level | None' = None,
    inplace: 'bool' = False,
    errors: 'IgnoreRaise' = 'raise',
) -> 'DataFrame | None'
Docstring:
Drop specified labels from rows or columns.

Remove rows or columns by specifying label names and corresponding
axis, or by directly specifying index or column names. When using a
multi-index, labels on different levels can be removed by specifying
the level. See the :ref:`user guide <advanced.shown_levels>`
for more information about the now unused levels.

Parameters
----------
labels : single label or list-like
    Index or column labels to drop. A tuple will be used as a single
    label and not treated as a list-like.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Whether to drop labels from the index (0 or 'index') or
    columns (1 or 'columns').
index : single label or list-like
    Alternative to specifying axis (``labels, axis=0``
    is equivalent to ``index=labels``).
columns : single label or list-like
    Alternative to specifying axis (``labels, axis=1``
    is equivalent to ``columns=labels``).
level : int or level name, optional
    For MultiIndex, level from which the labels will be removed.
inplace : bool, default False
    If False, return a copy. Otherwise, do operation
    in place and return None.
errors : {'ignore', 'raise'}, default 'raise'
    If 'ignore', suppress error and only existing labels are
    dropped.

Returns
-------
DataFrame or None
    Returns DataFrame or None DataFrame with the specified
    index or column labels removed or None if inplace=True.

Raises
------
KeyError
    If any of the labels is not found in the selected axis.

See Also
--------
DataFrame.loc : Label-location based indexer for selection by label.
DataFrame.dropna : Return DataFrame with labels on given axis omitted
    where (all or any) data are missing.
DataFrame.drop_duplicates : Return DataFrame with duplicate rows
    removed, optionally only considering certain columns.
Series.drop : Return Series with specified index labels removed.

Examples
--------
>>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
...                   columns=['A', 'B', 'C', 'D'])
>>> df
   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

Drop columns

>>> df.drop(['B', 'C'], axis=1)
   A   D
0  0   3
1  4   7
2  8  11

>>> df.drop(columns=['B', 'C'])
   A   D
0  0   3
1  4   7
2  8  11

Drop a row by index

>>> df.drop([0, 1])
   A  B   C   D
2  8  9  10  11

Drop columns and/or rows of MultiIndex DataFrame

>>> midx = pd.MultiIndex(levels=[['llama', 'cow', 'falcon'],
...                              ['speed', 'weight', 'length']],
...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
>>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
...                         [250, 150], [1.5, 0.8], [320, 250],
...                         [1, 0.8], [0.3, 0.2]])
>>> df
                big     small
llama   speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        weight  1.0     0.8
        length  0.3     0.2

Drop a specific index combination from the MultiIndex
DataFrame, i.e., drop the combination ``'falcon'`` and
``'weight'``, which deletes only the corresponding row

>>> df.drop(index=('falcon', 'weight'))
                big     small
llama   speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        length  0.3     0.2

>>> df.drop(index='cow', columns='small')
                big
llama   speed   45.0
        weight  200.0
        length  1.5
falcon  speed   320.0
        weight  1.0
        length  0.3

>>> df.drop(index='length', level=1)
                big     small
llama   speed   45.0    30.0
        weight  200.0   100.0
cow     speed   30.0    20.0
        weight  250.0   150.0
falcon  speed   320.0   250.0
        weight  1.0     0.8
File:      ~/.pyenv/versions/3.12.5/lib/python3.12/site-packages/pandas/core/frame.py
Type:      method

In [266]:
uzivatele_df.drop('dalsi_email')

KeyError: "['dalsi_email'] not found in axis"

In [263]:
uzivatele_df.index

RangeIndex(start=0, stop=4, step=1)

In [265]:
uzivatele_df.drop('dalsi_email', axis=1)

,first_name,age,weight,height,surname,bmi,city,email
0,Matou≈°,23,65,160,Holinka,25.390625,Praha,holinka@gmail.com
1,Marek,25,70,170,P√°rek,24.221453,Praha,p√°rek@gmail.com
2,Luk√°≈°,27,75,180,Holinka,23.148148,Praha,holinka@gmail.com
3,Jan,29,80,190,Nov√°k,22.160665,Praha,nov√°k@gmail.com

In [267]:
uzivatele_df = uzivatele_df.drop('dalsi_email', axis=1)

In [268]:
uzivatele_df

,first_name,age,weight,height,surname,bmi,city,email
0,Matou≈°,23,65,160,Holinka,25.390625,Praha,holinka@gmail.com
1,Marek,25,70,170,P√°rek,24.221453,Praha,p√°rek@gmail.com
2,Luk√°≈°,27,75,180,Holinka,23.148148,Praha,holinka@gmail.com
3,Jan,29,80,190,Nov√°k,22.160665,Praha,nov√°k@gmail.com

<br>

**üß† CVIƒåEN√ç üß†, zpracuj zadan√© body v √∫loze.**

M√°≈° DataFrame `zamestnanci` s informacemi o zamƒõstnanc√≠ch tv√© firmy.

Pot≈ôebuje≈° n√°sleduj√≠c√≠:
1. **p≈ôidat sloupec** s n√°zvem `plat_na_hodinu`, kter√Ω bude vypoƒç√≠t√°n jako pr≈Ømƒõr platu zamƒõstnanc≈Ø dƒõlen√Ω poƒçtem odpracovan√Ωch hodin.
2. Sloupec `plat_na_hodinu` zaokrouhli **na cel√© ƒç√≠slo**,
3. **p≈ôejmenuj sloupec** `jmeno` na `cele_jmeno`,
4. **vytvo≈ô funkci** `preved_datum`, kter√° zmƒõn√≠ form√°t data ve sloupci `datum_narozeni` z `YYYY-MM-DD` na `DD/MM/YYYY`,
5. **odstra≈à sloupec** `id`.

In [28]:
from datetime import datetime

import pandas as pd

In [30]:
zamestnanci_df = pd.DataFrame({'id': [1, 2, 3, 4],
                            'jmeno': ['Jan Nov√°k', 'Petr Soukup', 'Marie Hor√°kov√°', 'Jana Svobodov√°'],
                            'datum_narozeni': ['1990-05-15', '1985-12-10', '1992-07-25', '1988-03-20'],
                            'plat': [40_000, 45_000, 35_000, 50_000],
                            'odprac_hodiny': [160, 180, 150, 200]}
            )

In [31]:
zamestnanci_df

   id           jmeno datum_narozeni   plat  odprac_hodiny
0   1       Jan Nov√°k     1990-05-15  40000            160
1   2     Petr Soukup     1985-12-10  45000            180
2   3  Marie Hor√°kov√°     1992-07-25  35000            150
3   4  Jana Svobodov√°     1988-03-20  50000            200

In [35]:
zamestnanci_df['plat_na_hodinu'] = round(zamestnanci_df['plat'] / zamestnanci_df['odprac_hodiny'], 0)

In [36]:
zamestnanci_df

   id           jmeno datum_narozeni   plat  odprac_hodiny  plat_na_hodinu
0   1       Jan Nov√°k     1990-05-15  40000            160           250.0
1   2     Petr Soukup     1985-12-10  45000            180           250.0
2   3  Marie Hor√°kov√°     1992-07-25  35000            150           233.0
3   4  Jana Svobodov√°     1988-03-20  50000            200           250.0

In [37]:
novy_zamestnanci_df = zamestnanci_df.rename(columns={'jmeno': 'cele_jmeno'})

In [38]:
novy_zamestnanci_df

   id      cele_jmeno datum_narozeni   plat  odprac_hodiny  plat_na_hodinu
0   1       Jan Nov√°k     1990-05-15  40000            160           250.0
1   2     Petr Soukup     1985-12-10  45000            180           250.0
2   3  Marie Hor√°kov√°     1992-07-25  35000            150           233.0
3   4  Jana Svobodov√°     1988-03-20  50000            200           250.0

In [40]:
# novy_zamestnanci_df.drop?

In [41]:
novy_zamestnanci_df.drop('id', axis=1)

       cele_jmeno datum_narozeni   plat  odprac_hodiny  plat_na_hodinu
0       Jan Nov√°k     1990-05-15  40000            160           250.0
1     Petr Soukup     1985-12-10  45000            180           250.0
2  Marie Hor√°kov√°     1992-07-25  35000            150           233.0
3  Jana Svobodov√°     1988-03-20  50000            200           250.0

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```python
    zamestnanci['plat_na_hodinu'] = round(zamestnanci['plat'] / zamestnanci['odprac_hodiny'])

    zamestnanci = zamestnanci.rename(columns={'jmeno': 'cele_jmeno'})


    def preved_datum(datum_narozeni, vstupni_format='%Y-%m-%d', vystupni_format='%d/%m/%Y'):
        dt = datetime.strptime(datum_narozeni, vstupni_format)
        prevedene_datum = dt.strftime(vystupni_format)
        return prevedene_datum


    # zamestnanci['datum_narozeni'] = pd.to_datetime(zamestnanci['datum_narozeni']).dt.strftime('%d/%m/%Y')  #  I. ≈ôe≈°en√≠
    # zamestnanci['datum_narozeni'] = zamestnanci['datum_narozeni'].apply(preved_datum)                      # II. ≈ôe≈°en√≠

    zamestnanci = zamestnanci.drop(columns=['id'])
    ```
</details>

---