# Python Data, 2024

---

* [√övod k pand√°m](#√övod-k-pand√°m),
* [z√°kladn√≠ objekty](#Z√°kladn√≠-datov√©-typy-frameworku),
    - [series](#Series),
    - [dataframe](#DataFrame),
    - [index](#Index).
* [naƒç√≠t√°n√≠ objekt≈Ø](#Naƒç√≠t√°n√≠-objekt≈Ø),
    - [naƒçti csv](#Naƒçti-soubor-csv),
    - [naƒçti html](#Naƒçti-tabulku-html),
    - [naƒçti data z SQL](#Naƒçti-v√Ωstup-dotazu-do-tabulky) # todo: nachystat demo
* [prohl√≠≈æen√≠ dat](#Prozkoum√°v√°n√≠-dat),
    - [selekce u sloupeƒçk≈Ø](#Selekce-u-sloupeƒçk≈Ø),
    - [selekce u tabulek](#Selekce-u-tabul√°rn√≠ch-hodnot),
    - [dal≈°√≠ metody prohl√≠≈æen√≠](#Metody-pro-nahl√≠≈æen√≠).
* [manipulace s daty](#Manipulace-se-sloupci),  # todo: druh√° lekce
    - [p≈ôejmenov√°n√≠ sloupc≈Ø](#P≈ôejmenov√°n√≠-sloupc≈Ø),
    - [p≈ôid√°v√°n√≠ sloupc≈Ø](#P≈ôid√°v√°n√≠-sloupc≈Ø-do-DataFrame),
    - [odstra≈àov√°n√≠ sloupc≈Ø]().

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.BaZU6gIdwRYQHu4rBBoO-gHaIX%26pid%3DApi&f=1&ipt=1013c975daabd695fcd4ebfc2c0e0b8ba4f10c37780419d8ff56538ec7a7f9ea&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

## √övod k pand√°m

---

Jde o knihovnu, kter√° stav√≠ na jednoduch√Ωch, p≈ôesto v√Ωkonn√Ωch a intuitivn√≠ch n√°stroj√≠ch.

Tyto prost≈ôedky umo≈æ≈àuj√≠ manipulaci, anal√Ωzu a vizualizaci strukturovan√Ωch dat s tabulkov√Ωmi a ƒçasov√Ωmi daty.

Vezme data z r≈Øzn√Ωch zdroj≈Ø, naƒçte je, zpracuje a zap√≠≈°e (pozn. **zdroj v C**).


<br>

### Kde pandy najdu a jak vypadaj√≠?

---

- Odkaz na **ofici√°ln√≠ repozit√°≈ô** [t√©to knihovny](https://github.com/pandas-dev/pandas),
- pokud bude≈° pot≈ôebovat v√≠ce podrobnost√≠, mrkni na [ofici√°ln√≠ dokumentaci](https://pandas.pydata.org/pandas-docs/stable/index.html),
- pypi.org, instalace knihovny,
- obecnƒõ vyhled√°vat online,
- AI.

<br>

In [ ]:
import csv  # Built-in

In [ ]:
import pandas

### Proƒç se ti bude hodit?

---

**Pandas** slou≈æ√≠ pro anal√Ωzu dat.

Data jsou nejƒçastƒõji v SQL datab√°zi, r≈Øzn√Ωch souborech, tabulkov√Ωch procesech atd.

*Pandas* si p≈ôedstav jako Excel, ale s v√≠ce funkcemi a hlavnƒõ mo≈ænost√≠ automatizovat procesy.

<br>

### Jak nainstalovat knihovnu?

---

Instalace **posledn√≠ dostupn√© verze**:

In [ ]:
!pip install pandas  # Mo≈ænost pracovat s jin√Ωm mana≈æerem

<br>

Instalace **konkr√©tn√≠ vybran√© verze**:

In [ ]:
!pip install pandas==1.1.1

<br>

### Jak knihovnu spustit?

---

In [ ]:
import pandas

In [ ]:
pandas.__version__  # FutureWarning

<br>

Pou≈æit√≠ **aliasu**:

In [ ]:
import pandas as pd

# from module_1 import read_data
# from module_2 import read_data as rd

In [ ]:
from pandas import DataFrame

<br>

### Souhrn kapitoly
---

- knihovna je tedy *≈°v√Ωcarsk√Ω no≈æ√≠k* pro pr√°ci **s tabel√°rn√≠mi daty** a **ƒçasov√Ωmi ≈ôadami**,
- jde o vƒõt≈°√≠ bal√≠ƒçek, t≈ôet√≠ch stran (pot≈ôeba st√°hnout & instalovat).

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.b2NCTuZRiG8yrmTCF7MogAHaHa%26pid%3DApi&f=1&ipt=f9e6a3811b3a707743134cfb19b2ee4f9c44584f5ea328582b227f14b94fcb1f&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

## Z√°kladn√≠ datov√© typy

---

Knihovna nab√≠z√≠ ≈ôadu u≈æiteƒçn√Ωch n√°stroj≈Ø.

Jde o *metody* a *funkce* nad r√°mec z√°kladn√≠ch (zabudovan√Ωch) **datov√Ωch struktur**.

Hlavn√≠ **t≈ôi struktury**, na kter√Ωch knihovna stoj√≠ jsou:
* `Index`
* `series`,
* `dataFrames`.

<img src="https://i.imgur.com/NNRgONl.png" width="1200" style="margin-left:auto; margin-right:auto"/>

- **Indexes**, je oznaƒçen√≠ (nebo **identifik√°tor**) jednotliv√Ωch ≈ô√°dk≈Ø, kter√© slou≈æ√≠ k jejich jednoznaƒçn√© identifikaci a usnad≈àuje p≈ô√≠stup k dat≈Øm,
- **series**, je *sloupec*, **pole** hodnot s Indexem, tedy sloupeƒçek tabulky nebo ƒç√≠slovan√Ω seznam,
- **dataframes**, jde v podstatƒõ o oznaƒçen√≠ cel√© tabulky.

### Series

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Yp6ZBv9C33_pDfZkJcKbJQHaHa%26pid%3DApi&f=1&ipt=546833b7ce370c5a62bea21079371efd1fa9547765d4eae8e6c9e41f6b25a3af&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

Jde **o jednodimenzion√°ln√≠ pole** (pop≈ô. sloupeƒçek, ≈ôada).

Tento objekt m√° **indexovan√© data** (jsi schopen data vybrat, uchopit).

Opƒõt si jej m≈Ø≈æe≈° p≈ôedstavit jako sloupeƒçek v obyƒçejn√Ωch *Excelovsk√Ωch* tabulk√°ch.

<br>

Na uk√°zku m≈Ø≈æe≈° tyto sloupeƒçky vytvo≈ôit t≈ôeba ze sekvenc√≠:

In [ ]:
from pandas import Series

In [ ]:
mesta_sl = Series(("Praha", "Brno", "Ostrava", "Hradek Kr√°lov√©"))

In [ ]:
type(mesta_sl)

In [ ]:
mesta_sl

<br>

Jak m≈Ø≈æe≈° vidƒõt v uk√°zce v√Ω≈°e, *sloupec* `Series` obsahuje **jak po≈ôad√≠, tak hodnoty**.

In [ ]:
mesta_sl.index

In [ ]:
mesta_sl.values

<br>

Obecnƒõ vypad√° jako nƒõjak√© pole, kter√Ω m√° sv≈Øj nativn√≠ datov√Ω typ `object`.

<br>

Aƒçkoliv je `pandas` knihovna Pythonu, datov√© typy nemus√≠ v≈ædy odpov√≠dat z√°kladn√≠m **datov√Ωm typ≈Øm Pythonu**:

| Typy `pandas`| typy `Python`| Pou≈æit√≠ |
| :-: | :-: | :- |
| `object` | `str` nebo smƒõska| text nebo nam√≠chan√© ƒç√≠seln√© a neƒç√≠seln√© hodnoty |
| `int64` | `int`| cel√° ƒç√≠sla |
| `float64` | `float` | desetinn√° ƒç√≠sla |
| `bool` | `bool` | True a False |
| `datetime64` | `-`| Hodnota data a ƒçasu |
| `timedelta` | `-` | ƒåasov√© rozd√≠ly |

<br>

Stejnƒõ jako pole nebo sekvence m≈Ø≈æe≈° *indexovat* a *slicovat* hodnoty typu `Series`.

In [ ]:
mesta_sl

#### Indexov√°n√≠ sloupeƒçku

---

In [ ]:
mesta_sl[1]  # s Indexem sloupeƒçku

<br>

#### Slicing sloupeƒçku

---

In [ ]:
mesta_sl[0:3]

Na prvn√≠ pohled nen√≠ tolik odli≈°n√Ω od datov√©ho typu `list` nebo `tuple` (p≈ô√≠padnƒõ pole v `numpy`).

Nejvƒõt≈°√≠ rozd√≠l spoƒç√≠t√° pr√°vƒõ v **indexu/Indexu**.

A≈• `list`, `tuple` nebo `numpy.array` implicitnƒõ pracuj√≠ **s celoƒç√≠seln√Ωm indexem**.

<br>

Objekt `Series` na druhou stranu nab√≠z√≠ mo≈ænost, zad√°vat vlastn√≠ indexov√© hodnoty:

In [ ]:
mesta_sl = Series(["Praha", "Brno", "Ostrava", "Hradek Kr√°lov√©"],
                  index=["1_mesto", "2_mesto", "3_mesto", "4_mesto"])  # Tvoje specifick√© indexy

In [ ]:
mesta_sl.index

In [ ]:
mesta_sl

In [ ]:
mesta_sl["2_mesto"]

T√≠mto zp≈Øsobem si m≈Ø≈æe≈° p≈ôedstavit ≈ôadu, sloupec (`Series`) jako variantu datov√©ho typu `dict`, v Pythonu.

V√≠≈°, ≈æe ve slovn√≠ku Pythonu jsou hodnoty *mapovan√©* na jednotliv√© kl√≠ƒçe.

<br>

#### Pokroƒçil√©, type-specific
---
V p≈ô√≠padƒõ `Series` jde o mapov√°n√≠ **typovan√Ωch hodnot** na **typovan√© kl√≠ƒçe**. Pr√°vƒõ pojem **typovan√Ω** (~*type-specific*) je z√°sadn√≠.

Pr√°vƒõ *typovan√Ω* zkompilovan√Ω k√≥d od `Series` nab√≠z√≠ nƒõkter√© efektivnƒõj≈°√≠ metody a funkce, kter√© obyƒç. `dict` v Pythonu ne.

In [ ]:
populace_evropa = {
    'Dansko': 5_655_750,
    'Ceska_republika': 10_513_209,
    'Nemecko': 80_716_000,
    'Polsko': 38_483_957,
    'Slovensko': 5_415_949,
    'Rakousko': 8_932_664
}

In [ ]:
populace_evropa_sl = Series(populace_evropa)

In [ ]:
populace_evropa_sl

<br>

Defaultnƒõ ti objekt `Series` nachyst√° index ze se≈ôazen√Ωch kl√≠ƒç≈Ø p≈Øvodn√≠ho datov√©ho typu `dict`.

M≈Ø≈æe≈° prov√©st klasick√© mapov√°n√≠ hodnoty na jm√©no kl√≠ƒçe:

In [ ]:
populace_evropa_sl["Ceska_republika"]

K tomu, ale `Series` nab√≠z√≠ operace jako nap≈ô. *slicing* pro pole:

In [ ]:
populace_evropa_sl["Ceska_republika": "Polsko"]

<br>

**üß† CVIƒåEN√ç üß†, p≈ôepoƒç√≠tej hodnoty ve sloupeƒçku**

In [ ]:
from typing import Dict

data: Dict[str, float] = {  # Data v milionech, p≈ôeveƒè na jednotky
    "New York": 8.4,        # 8_400_000, (adv. int64)
    "London": 9.0,
    "Tokyo": 13.9,
    "Sydney": 5.3,
}

In [ ]:
# Zapi≈° ≈ôe≈°en√≠
from pandas import Series

data_sl = Series(data)

In [ ]:
print(data_sl)

In [ ]:
def prepocitej_ciselne_hodnoty(data_mesta: Series) -> Series:
    return data_mesta * 1_000_000

In [ ]:
prepocitej_ciselne_hodnoty(data_sl)

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
import pandas as pd

data = {
    "New York": 8.4,
    "London": 9.0,
    "Tokyo": 13.9,
    "Sydney": 5.3,
}


mesta_sl = pd.Series(data)


def preved_na_jednotky(series):
    return series * 1_000_000  # astype(int) -> cel√© ƒç√≠slo


prevedene = preved_na_jednotky(mesta_sl)
```
</details>

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP._inpASbq98lGCmZFxPEq7wHaHa%26pid%3DApi&f=1&ipt=ecf1243da46e7ae6341330ae58bda2a6456c95f63a0cd79eda7d561cf3334a57&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

<br>

### DataFrame

---


Dal≈°√≠m element√°rn√≠m datov√Ωm typem t√©to knihovny je `DataFrame`.

Analogicky si jej m≈Ø≈æe≈° p≈ôedstavit **jako tabulku** v Excelu.

Tedy objekt slo≈æen√Ω **z ≈ô√°dk≈Ø** (Index≈Ø) a **sloupc≈Ø** (`Series`).

In [ ]:
populace_evropa = {
    'Dansko': 5_655_750,
    'Ceska_republika': 10_513_209,
    'Nemecko': 80_716_000,
    'Polsko': 38_483_957,
    'Slovensko': 5_415_949,
    'Rakousko': 8_932_664
}

In [ ]:
rozloha_evropa = {
    'Dansko': 42_916,
    'Ceska_republika': 78_870,
    'Nemecko': 357_168,
    'Polsko': 312_679,
    'Slovensko': 49_035,
    'Rakousko': 83_878
}

<br>

Nezapome≈à nahr√°t pot≈ôebn√Ω objekt:

In [ ]:
from pandas import DataFrame

In [ ]:
zeme_evropa_df = DataFrame(  # Zd≈Øraznit "df"
    {"Populace": populace_evropa,
     "Rozloha": rozloha_evropa}
)

In [ ]:
zeme_evropa_df

In [ ]:
type(zeme_evropa_df)

<br>

Stejnƒõ jako u `Series` m√° i `DataFrame` svoje *indexy*:

In [ ]:
zeme_evropa_df.index

<br>

Nav√≠c m≈Ø≈æe≈° pracovat s atributem `columns`, kter√Ω dr≈æ√≠ jm√©na **jednotliv√Ωch sloupeƒçk≈Ø**:

In [ ]:
zeme_evropa_df.columns

In [ ]:
zeme_evropa_df.values

Proto si m≈Ø≈æe≈° objekt `DataFrame` p≈ôedstavit tak√© jako Pythonovsk√Ω `dict`.

<br>

Ov≈°em s t√≠m rozd√≠lem, ≈æe tentokr√°t mapuje≈° jm√©no sloupeƒçku na `Series`:

In [ ]:
zeme_evropa_df["Populace"]

In [ ]:
populace_sl = zeme_evropa_df["Populace"]

In [ ]:
type(populace_sl)

Opatrnƒõ p≈ôi vytv√°≈ôen√≠ nov√©ho `DataFrame`, u chybƒõj√≠c√≠ch kl√≠ƒç≈Ø implictinƒõ zapisuje `Nan` hodnotu (~*not a number*):

In [ ]:
chybejici_hodnoty_df = DataFrame(
    [
        {"A": 1, "B": 4},
        {"C": 6, "B": 7}
    ]
)

In [ ]:
chybejici_hodnoty_df

Nav√≠c si m≈Ø≈æe≈° v≈°imnout rozd√≠ln√© definice **datov√©ho typu**:

In [ ]:
chybejici_hodnoty_df.dtypes

In [ ]:
chybejici_hodnoty_df["A"]

In [ ]:
konvertovany_sl_a = chybejici_hodnoty_df["A"].convert_dtypes()

In [ ]:
konvertovany_sl_a

V√≠ce si o p≈ôetypov√°n√≠ obecnƒõ a dozv√≠≈° pozdƒõji.

**üß† CVIƒåEN√ç üß†, p≈ôidej nov√Ω sloupeƒçek**

In [ ]:
from typing import Dict

data: Dict[str, list] = {  # Zalidnƒõn√≠
    "Mƒõsto": ["New York", "London", "Tokyo", "Sydney"],
    "Populace (v mio)": [8.4, 9.0, 13.9, 5.3],
    "Plocha (km¬≤)": [783, 1572, 2194, 1687]
}

In [ ]:
# Z√°pis
from pandas import DataFrame

data_df = DataFrame(data)

In [ ]:
data_df

In [ ]:
def vypocitej_zalidneni(data_df: DataFrame) -> DataFrame:
    data_df['Zalidnƒõn√≠ (na km¬≤)'] = \
        (data_df['Populace (v mio)'] * 1_000_000) / data_df['Plocha (km¬≤)']

    return data_df

In [ ]:
vypocitej_zalidneni(data_df)

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
import pandas as pd

data = {
    "Mƒõsto": ["New York", "London", "Tokyo", "Sydney"],
    "Populace (v mio)": [8.4, 9.0, 13.9, 5.3],
    "Plocha (km¬≤)": [783, 1572, 2194, 1687],
}

mesta_df = pd.DataFrame(data)

def vypocitej_hustotu_zalidneni(df):
    """
    P≈ôidejte nov√Ω sloupec 'Hustota zalidnƒõn√≠' (poƒçet obyvatel na km¬≤).
    """
    df["Hustota zalidnƒõn√≠ (na km¬≤)"] = (df["Populace (v mio)"] * 1_000_000 / df["Plocha (km¬≤)"]).round().astype(int)
    return df

df = vypocitej_hustotu_zalidneni(mesta_df)
print(df)
```
</details>

<img src="https://imgs.search.brave.com/EQep67dP5UaJDlqkF2HvOQTESVA_LQSZx_SR7FE6JYM/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9kMW5o/aW8wb3g3cGdiLmNs/b3VkZnJvbnQubmV0/L19pbWcvb19jb2xs/ZWN0aW9uX3BuZy9n/cmVlbl9kYXJrX2dy/ZXkvNTEyeDUxMi9w/bGFpbi90YWJsZV9z/ZWxlY3Rpb25fcm93/LnBuZw" width="200" style="margin-left:auto; margin-right:auto"/>

### Index

---

Posledn√≠m ze z√°kladn√≠ch objekt≈Ø frameworku `pandas` je tedy **Index** (velk√© "i").

Jak `Series`, tak `DataFrame` v sobƒõ *Index* obsahuj√≠.

Pro jednoduchost, si jej m≈Ø≈æe≈° p≈ôedstavit jako oznaƒçen√≠ jednotliv√Ωch ≈ô√°dk≈Ø v tabulce.

In [ ]:
from pandas import Index

In [ ]:
indexy = Index([2, 3, 4, 5])

In [ ]:
indexy

In [ ]:
type(indexy)

In [ ]:
nove_indexy = Index(('radek_1', 'radek_2', 'radek_3'))

In [ ]:
type(nove_indexy)

<br>

#### indexov√°n√≠ Index≈Ø

---

In [ ]:
indexy

In [ ]:
indexy[2]

<br>

#### Slicov√°n√≠ index≈Ø

---

In [ ]:
indexy[:3]

<br>

#### Nezmƒõniteln√Ω objekt

---

In [ ]:
indexy[2]

In [ ]:
# indexy[2] = 3  # --> TypeError

Tato nezmƒõnitelnost slou≈æ√≠ k vƒõt≈°√≠ bezpeƒçnosti, proto≈æe jednotliv√© indexy, m≈Ø≈æe sd√≠let v√≠ce `DataFrame`.

<br>

#### Index jako se≈ôazen√Ω set

---

In [ ]:
indexy_a = Index([1, 2, 3, 4])
indexy_b = Index([3, 4, 5, 6])

In [ ]:
indexy_a.intersection(indexy_b)

In [ ]:
indexy_a.union(indexy_b)

<br>

### Souhrn k z√°kladn√≠m typ≈Øm

---

- **sloupeƒçky**, jako pole, jednorozmƒõrn√©, mo≈ænost selekce index≈Ø i hodnot a jejich rozsah≈Ø,
- **indexy**, jako pole, nezmƒõniteln√©, mo≈ænost selekce jednoho ≈ô√°dk≈Ø i rozsahu ≈ô√°dk≈Ø,
- **tabulka**, v√≠cerozmƒõrn√© pole, v√Ωbƒõr podle sloupc≈Ø.


<img src="https://imgs.search.brave.com/CoDVQW6cpYcV0qJtUejA7WQat4mLN2AOxuK2hXwgGAo/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jZG4w/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvcm91bmQtdWkt/aWNvbnMvNTEyL2Fk/ZF9ibHVlLnBuZw" width="200" style="margin-left:auto; margin-right:auto"/>

<br>

## Naƒç√≠t√°n√≠ objekt≈Ø

---

Vytvo≈ôit nov√Ω `DataFrame` je z√°le≈æitost nƒõkolika m√°lo argument≈Ø.

Nen√≠ ov≈°em velmi ƒçast√©, chystat data *z niƒçeho*.

Vƒõt≈°inou pot≈ôebuje≈° pr√°vƒõ nahr√°t r≈Øzn√© **existuj√≠c√≠ extern√≠ soubory**, do `DataFrame` objekt≈Ø.

* `read_csv`,
* `read_excel`,
* `read_json`,
* `read_html`,
* `read_sql`,
* `read_parquet`,
* `read_sas`.

###  Naƒçti soubor `csv`

---

Knihovna nab√≠z√≠ p≈ô√≠mo specializovanou funkci `read_csv`.

Ta dovede naƒç√≠st obsah souboru do nov√©ho `DataFrame`.

Pro prvn√≠ pou≈æit√≠, p≈ô√≠padnƒõ pozdƒõj≈°√≠ roz≈°√≠≈ôen√≠ je vhodn√©, prozkoumat dokumentaci:

In [ ]:
from pandas import read_csv

In [ ]:
# read_csv?

<br>

Naƒçte≈° jm√©no souboru se specifickou p≈ô√≠ponou `csv`:

In [ ]:
zamestnanci_df = read_csv('../onsite/customers_inp.csv')

<br>

Prozkoumej samotn√Ω soubor:

In [ ]:
!cat ../onsite/customers_inp.csv

<br>

Nyn√≠ se pod√≠vej jak vypad√° novƒõ vytvo≈ôen√Ω `DataFrame`:

In [ ]:
type(zamestnanci_df)

In [ ]:
zamestnanci_df

Je pot≈ôeba pohl√≠dat si (nen√≠ ≈ôazen√© podle priorit):
* indexy,
* z√°hlav√≠,
* strukturu jednotliv√Ωch `Series`,
* datov√© typy.

<br>

Pokud nesed√≠ **defaultn√≠ oddƒõlovaƒç** (*sep* nebo *delimiter*):

In [ ]:
!sed -i s"/,/;/g" ../onsite/customers_inp.csv

In [ ]:
!cat ../onsite/customers_inp.csv

In [ ]:
zamestnanci_strednik_df = read_csv('../onsite/customers_inp.csv', sep=';')

In [ ]:
zamestnanci_strednik_df

<br>

M≈Ø≈æe≈° zadat jin√Ω ne≈æ *defaultn√≠* oddƒõlovaƒç:

In [ ]:
zamestnanci_strednik_df['phone']

**Nevhodn√© datov√© typy** je tak√© mo≈æn√© ≈ôe≈°it p≈ôi nov√© inicializaci `DataFrame`:

In [ ]:
zamestnanci_strednik_df.dtypes

Pokud pot≈ôebuje≈° *vynutit* konverzi datov√©ho typu:

In [ ]:
zamestnanci_bez_cisel_df = read_csv(
    '../onsite/customers_inp.csv',
    sep=";",
    dtype={
        "customer_id": str,
        # "first_name": str,
        # "last_name": str,
        # "phone": str,
        # "email": str
    }
)

In [ ]:
zamestnanci_bez_cisel_df.dtypes

<br>

### Naƒçti tabulku `html`

---

Funkce `read_html` ƒçasto zast√°v√° nƒõkter√© kroky *web scrapov√°n√≠*.

P≈ôesto je jej√≠m uƒçelem "pouze" extrahov√°n√≠ dat v HTML `<table></table>` elementech.

Uk√°zka [zdroj](https://simple.wikipedia.org/wiki/List_of_U.S._states).

In [ ]:
%run ../../shared/onsite/demo_read_html.py

<br>

**üß† CVIƒåEN√ç üß†, naƒçti vlastn√≠ CSV soubor**.

In [ ]:
# Z√°pis
cesta_k_souboru: str = '../onsite/games.csv'

In [ ]:
from pandas import read_csv

In [ ]:
from pathlib import Path

if not Path(cesta_k_souboru).exists():
    print('Chybi soubor pro zpracovani')

hry_df = read_csv(cesta_k_souboru)

In [ ]:
hry_df.head(2)

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
import pandas as pd

muj_csv_soubor = 'toto/je/relativni/cesta.csv'

testovaci_data = pd.read_csv(muj_csv_soubor)
```
</details>

<br>

### Souhrn kapitoly

---

Typick√Ω postup, pro pr√°ci s pandami, je identifikovat a spr√°vnƒõ naƒç√≠st datov√Ω zdroj.


<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.ACSOiM-U0Q1dA-4JLXwShAHaHx%26pid%3DApi&f=1&ipt=6d4afed7c3560452103fe53af2bd94638c28007aa3141700570a84c7fab7263a&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

<br>

## Prozkoum√°v√°n√≠ dat

---

Jakmile m√°≈° data spr√°vnƒõ naƒçten√° a p≈ôetypovan√°, m≈Ø≈æe≈° s nimi zaƒç√≠t pracovat.

Ne≈æ se do toho vrhne≈°, nen√≠ ≈°patn√©, umƒõt je prohl√≠≈æet.

<br>

### Selekce u sloupeƒçk≈Ø

---

In [ ]:
from pandas import Series

In [ ]:
vek_sl = Series(
    [26, 36, 46, 56],
    index=['Petr', 'Pavel', 'Jiri', 'Tomas'] # ??? , 'Jarek', 'Tomas'; , 66, 76
)

<br>

Pro vytvo≈ôen√Ω sloupeƒçek:

In [ ]:
vek_sl

<br>

Pokud prov√°d√≠≈° *slicing* pomoc√≠ *index≈Ø*, implicitnƒõ **vynech√°≈° koneƒçn√Ω index**:

In [ ]:
vek_sl[0:3]

<br>

Pokud ov≈°em zad√°v√°≈° p≈ô√≠mo hodnotu *Indexu*, potom vyb√≠r√°≈° hodnoty **vƒçetnƒõ koneƒçn√©ho Indexu**:

In [ ]:
vek_sl["Petr": "Jiri"]

Tento jednoduch√Ω p≈ô√≠stup potom vede **k ƒçast√Ωm chyb√°m a nepochopen√≠m**.

### Atributy `loc`, `iloc`

---

Pr√°vƒõ proto≈æe je *indexov√°n√≠* a *slicing* v r√°mci `Series` matouc√≠, existuj√≠ pomocn√© atributy.

<br>

#### loc

---

Pr√°vƒõ tento atribut zaruƒç√≠, ≈æe bude≈° v≈ædy pracovat pomoc√≠ **explicitn√≠ho zad√°n√≠ hodnoty Index≈Ø**:

In [ ]:
vek_sl

In [ ]:
vek_sl.loc["Petr": "Pavel"]

<br>

Jde tedy o explicitn√≠ pr√°ci s Indexy knihovny `pandas`, ne indexy Pythonu:

In [ ]:
jmena_sl = Series(
    ["Matous", "Marek", "Lukas", "Jan"],
    index=[1, 2, 3, 4]
)

In [ ]:
jmena_sl

In [ ]:
jmena_sl.loc[1]

In [ ]:
jmena_sl.loc[:3]

V≈°imni si, jak *Index* o hodnotƒõ 3 je souƒç√°st√≠ v√Ωstupu (narozd√≠l od pythonovsk√©ho indexu 3).

<br>

#### iloc

---

Naopak atribut `iloc` je proces, kter√Ω funguje v√Ωluƒçnƒõ na **indexov√°n√≠ v r√°mci Pythonu** (po≈ôad√≠, zaƒç√≠n√° nulou):

In [ ]:
jmena_sl

In [ ]:
jmena_sl.iloc[1]

In [ ]:
jmena_sl.loc[1]

In [ ]:
jmena_sl.iloc[:2]

Kv≈Øli jasnosti a p≈ôehlednosti je obecnƒõ v√Ωhodnƒõj≈°√≠ a doporuƒçov√°n√©, pracovat s atributy `loc` a `iloc`.

In [ ]:
jmena_sl.loc[:2]

<br>

### Selekce u tabel√°rn√≠ch hodnot

---

Jeliko≈æ je `DataFrame` slo≈æen√Ω ze sloupeƒçk≈Ø, m≈Ø≈æe≈° aplikovat nƒõkter√© postupy z uplynul√© teorie.

* **slovn√≠kov√Ω kl√≠ƒç**,
* **atributov√Ω p≈ô√≠stup**,
* **slovn√≠kov√Ω n√°hled**,
* `loc`, `iloc`, `ix`, `T`.

In [ ]:
from pandas import DataFrame

In [ ]:
populace_evropa = {
    'Dansko': 5_655_750,
    'Ceska_republika': 10_513_209,
    'Nemecko': 80_716_000,
    'Polsko': 38_483_957,
    'Slovensko': 5_415_949,
    'Rakousko': 8_932_664
}

In [ ]:
rozloha_evropa = {
    'Dansko': 42_916,
    'Ceska_republika': 78_870,
    'Nemecko': 357_168,
    'Polsko': 312_679,
    'Slovensko': 49_035,
    'Rakousko': 83_878
}

In [ ]:
zeme_evropa_df = DataFrame({"populace": populace_evropa, "rozloha": rozloha_evropa})

In [ ]:
zeme_evropa_df

<br>

#### P≈ô√≠stup pomoc√≠ kl√≠ƒç≈Ø

---

In [ ]:
zeme_evropa_df["populace"]

In [ ]:
zeme_evropa_df["rozloha"]

<br>

#### P≈ô√≠stup pomoc√≠ atribut≈Ø

---

In [ ]:
# bool(zeme_evropa_df["rozloha"] is zeme_evropa_df.rozloha)

In [ ]:
zeme_evropa_df.populace

In [ ]:
zeme_evropa_df.rozloha

In [ ]:
zeme_evropa_df.rozloha > 100_000

In [ ]:
zeme_evropa_df[zeme_evropa_df.rozloha > 100_000]

In [ ]:
zeme_evropa_df[zeme_evropa_df["rozloha"] > 100_000]

Opatrnƒõ, atributov√Ω p≈ô√≠stup nelze aplikovat, pokud je jm√©no sloupeƒçku shodn√© s nƒõkter√Ωm **z rezerovan√Ωch v√Ωraz≈Ø**.

<br>

#### Slovn√≠kov√Ω n√°hled

---

In [ ]:
zeme_evropa_df.index

In [ ]:
zeme_evropa_df.columns

In [ ]:
zeme_evropa_df.values

<br>

#### loc

---

Stejn√° pravidla jako pro `Series`, nicm√©ne tentokr√°t m≈Ø≈æe≈° vyb√≠rat buƒè jednotliv√© Indexy, nebo pole Index≈Ø:

In [ ]:
zeme_evropa_df

In [ ]:
zeme_evropa_df.loc["Nemecko"]

In [ ]:
zeme_evropa_df.loc[:"Nemecko"]

<br>

D√°le m≈Ø≈æe≈° vyb√≠rat kombinaci Index≈Ø a sloupce nebo rozsah sloupc≈Ø:

In [ ]:
zeme_evropa_df.loc["Nemecko", "populace"]

In [ ]:
zeme_evropa_df.loc[:"Nemecko", "populace"]

In [ ]:
zeme_evropa_df.loc["Ceska_republika":"Nemecko", :"rozloha"]

<br>

#### iloc

---

In [ ]:
zeme_evropa_df.iloc[:3, 1]

<br>

#### Transformace

---

In [ ]:
zeme_evropa_df.T

#### ix

---

Jde o atribut-hybrid, kter√Ω kombinuje mixov√°n√≠ styl≈Ø z `loc` a `iloc`.

Tento *legacy atribut* se ji≈æ ofici√°lnƒõ nedoporuƒçuje.

In [ ]:
zeme_evropa_df.ix[:"Nemecko", :2]  # iloc + loc --> dnes AttributeError

<img src="https://imgs.search.brave.com/lQb3xLIlg9zkzNeOExyC9yipGtQiF1BrVKrC4BwqbF8/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA1LzU0LzExLzY3/LzM2MF9GXzU1NDEx/Njc4Nl9DZGhSbWha/YWlaRjdvUVhVajYz/d2RTSzVjOGo5SXNL/bS5qcGc" width="250" style="margin-left:auto; margin-right:auto"/>

<br>

### Metody pro pr≈Øzkumu dat a nahl√≠≈æen√≠

---

N√°sleduj√≠c√≠ metody ti ulehƒç√≠ nahl√≠≈æen√≠ a prozkoum√°v√°n√≠ dat.

Jsou to metody:
* `info()`,
* `describe()`,
* `head()`,
* `tail()`,

In [ ]:
from pandas import DataFrame

In [ ]:
populace_evropa = {
    'Dansko': 5_655_750,
    'Ceska_republika': 10_513_209,
    'Nemecko': 80_716_000,
    'Polsko': 38_483_957,
    'Slovensko': 5_415_949,
    'Rakousko': 8_932_664
}

In [ ]:
rozloha_evropa = {
    'Dansko': 42_916,
    'Ceska_republika': 78_870,
    'Nemecko': 357_168,
    'Polsko': 312_679,
    'Slovensko': 49_035,
    'Rakousko': 83_878
}

In [ ]:
zeme_evropa_df = DataFrame({"populace": populace_evropa, "rozloha": rozloha_evropa})

<br>

#### Metoda `info()`

---

Jde o obecnou informaci o DataFrame:

In [ ]:
zeme_evropa_df.info()

Z v√Ωstupu potom p≈ôeƒçte≈°:
* poƒçet index≈Ø,
* poƒçet sloupc≈Ø,
* poƒçet nepr√°zdn√Ωch, nenulov√Ωch hodnot,
* datov√© typy pro sloupce.

<br>

#### Metoda `describe()`

---

Tato metoda ti nepod√°v√° z√°kladn√≠ informaci o DataFrame, ale sp√≠≈°e **pracuje s ƒç√≠seln√Ωmi sloupci**.


Poskytuje z√°kladn√≠ **statistick√© p≈ôehledy** jako:
* pr≈Ømƒõr,
* medi√°n,
* minim√°ln√≠ & maxim√°ln√≠ hodnota,
* rozptyl.

In [ ]:
zeme_evropa_df['populace'].describe()

<br>

#### Metody `head()` a `tail()`

---

Obƒõ metody pracuj√≠ jako n√°hledov√© metody. K lep≈°√≠mu pohledu na konkr√©tn√≠ ≈ô√°dky.

1. `head`, prozkoum√° **prvn√≠ch pƒõt ≈ô√°dk≈Ø** (defaultnƒõ),
2. `tail`, prozkoum√° **posledn√≠ch pƒõt ≈ô√°dk≈Ø** (defaultnƒõ),

In [ ]:
zeme_evropa_df.head(3)  # truncate,

In [ ]:
zeme_evropa_df.tail(4)

In [ ]:
pokusny_index_df = read_csv('../onsite/customers_inp.csv', sep=';', index_col='customer_id')

In [ ]:
pokusny_index_df

<br>

**üß† CVIƒåEN√ç üß†, dikt√°t s pandama.**

**Nahraj zadan√Ω soubor do promƒõnn√© `hry_df`**

In [ ]:
hry_df = read_csv("../onsite/games.csv")

In [ ]:
hry_df.head(2)

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
hry_df = read_csv("../onsite/lesson02/games.csv")
```
</details>

<br>

**Vytvo≈ô promƒõnnou `jen_souhrn`, kter√° obsahuje pouze sloupec `Summary`**

In [ ]:
jen_souhrn = hry_df['Summary']

In [ ]:
jen_souhrn

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    souhrn = hry_df.Summary
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `prvni_souhrn`, kter√° obsahuje pouze prvn√≠ ≈ô√°dek ze sloupce `Summary`**

In [ ]:
prvni_souhrn = hry_df.iloc[0]['Summary']

In [ ]:
prvni_souhrn

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    prvni_radek = hry_df.Summary.iloc[0]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `prvni_radek_tab`, kter√° obsahuje cel√Ω prvn√≠ z√°znam z tabulky, z `hry_df`**

In [ ]:
prvni_radek_tab = hry_df.iloc[0]

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    prvni_radek_tab = hry_df.iloc[0]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `prvnich_deset_souhrnu`, kam naƒçti prvn√≠ch deset ≈ô√°dk≈Ø z vybran√©ho sloupeƒçku `Summary`**

In [ ]:
prvnich_deset_souhrnu = hry_df.iloc[:10]['Summary']

In [ ]:
prvnich_deset_souhrnu

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    prvni_souhrny = hry_df.Summary.iloc[:10]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `vzorek_indexu`, kam naƒçti z√°znamy z index≈Ø **2, 4, 5, 6, 7** a **9** z cel√© tabulky**

In [ ]:
vzorek_indexu = hry_df.iloc[[2, 4, 5, 6, 7, 9]]

In [ ]:
vzorek_indexu

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    vzorek_indexu = hry_df.loc[[2, 4, 5, 6, 7, 9]]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `hodnoceni`, naƒçti z√°znamy z index≈Ø **1, 5, 10, 100, 1000** z cel√© tabulky a vyber pouze sloupeƒçky `Title`, `Rating`, `Release Date`, `Number of Reviews`**

In [ ]:
hodnoceni = hry_df.loc[
    [1, 5, 10, 100, 1000],
    ['Title', 'Rating', 'Release Date', 'Number of Reviews']
]

In [ ]:
hodnoceni

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    hodnoceni = hry_df.loc[[1, 5, 10, 100, 1000], ["Title", "Rating", "Release Date", "Number of Reviews"]]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `prvnich_sto`, kter√° obsahuje pouze sloupeƒçky `Title`a `Rating`. D√°le pot≈ôebuje≈° ulo≈æit pouze **prvn√≠ch 100 index≈Ø****

In [ ]:
prvnich_sto = hry_df[:100][['Title', 'Rating']]

In [ ]:
prvnich_sto

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    prvnich_sto = hry_df.loc[:99, ["Title", "Rating"]]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `vyber`, kter√° obsahuje dva sloupeƒçky `Title` a `Rating`, kde ve sloupeƒçku `rating` chce≈° z√≠skat pouze takov√© tituly, kter√© maj√≠ hodnocen√≠ vƒõt≈°√≠ nebo rovnou `4.6`**

In [ ]:
# vyber = hry_df[['Title', 'Rating']]
# vyber = hry_df['Rating'] >= 4.6

vyber = hry_df[hry_df['Rating'] >= 4.6][['Title', 'Rating']]

In [ ]:
vyber

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    vyber_her = hry_df[hry_df["Rating"] >= 4.6]
    ```

</details>

<br>

## Manipulace se sloupci

---


<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.tzaGc-M5pl0DP6pGu-H6WgHaHa%26pid%3DApi&f=1&ipt=39909793c49bf980b8dbceaabe312870e1446f58fba1e6b430630cfbddd2b9c4&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

Jakmile se dovede≈° zorientovat v datov√Ωch struktur√°ch knihovny `pandas`, m≈Ø≈æe≈° zaƒç√≠t upravovat jejich obsah:
1. **P≈ôejmenovat** sloupce,
2. **vytvo≈ôit** nov√© sloupce,
3. **odstranit** existuj√≠c√≠ sloupce.

### P≈ôejmenov√°n√≠ sloupc≈Ø

---

Pokud bude≈° nƒõkdy z√°pasit se ≈°patnƒõ pojmenovan√Ωm sloupcem nebo sloupci, p≈ôejmenuj je pomoc√≠ metody `rename`.

In [3]:
from typing import Dict
from pandas import DataFrame

uzivatele: Dict[str, list] = {
    'jmeno': ['Matou≈°', 'Marek', 'Luk√°≈°', 'Jan'],
    'age': [23, 25, 27, 29],
    'vaha': [65, 70, 75, 80],
    'vyska': [160, 170, 180, 190]
}

In [4]:
uzivatele_df = DataFrame(uzivatele)

In [5]:
uzivatele_df

    jmeno  age  vaha  vyska
0  Matou≈°   23    65    160
1   Marek   25    70    170
2   Luk√°≈°   27    75    180
3     Jan   29    80    190

V uk√°zce v√Ω≈° tƒõ omezuje **jazykov√° nekonzistence** mezi sloupeƒçky.

Pomoc√≠ metody `rename` a argumentu `columns`, m≈Ø≈æe≈° pomoc√≠ `dict` anotace vybrat, co a ƒç√≠m p≈ôejmenovat:

In [ ]:
uzivatele_df.rename(columns={"age": "vek"})

P≈ôi dal≈°√≠ kontrole zjist√≠≈°, ≈æe **nov√© jm√©no sloupeƒçku zmizelo**:

In [ ]:
uzivatele_df

<br>

Celou situaci m≈Ø≈æe≈° ≈ôe≈°it dvƒõma zp≈Øsoby:
1. Voliteln√Ω argument `inplace`,
2. kopie p≈Øvodn√≠ho `DataFrame` objektu.

In [ ]:
prejmenovany_sloupec_df = uzivatele_df.rename(columns={"age": "vek"})

In [ ]:
prejmenovany_sloupec_df

In [ ]:
uzivatele_df

In [6]:
uzivatele_df.rename(columns={"age": "vek"}, inplace=True)  # Za cenu rizika!

In [7]:
uzivatele_df

    jmeno  vek  vaha  vyska
0  Matou≈°   23    65    160
1   Marek   25    70    170
2   Luk√°≈°   27    75    180
3     Jan   29    80    190

Opatrnƒõ na pr√°ci s argumentem `inplace`.

Jeho pou≈æit√≠ v≈ædy d≈Økladnƒõ zva≈æ, a≈• neztrat√≠≈° zdrojov√° data.

<br>

P≈ôejmenovat m≈Ø≈æe≈° i **v√≠ce sloupc≈Ø** souƒçasnƒõ:

In [ ]:
nova_jmena_sloupcu = {  # CZ > EN
    "jmeno": "first_name",
    "vek": "age",
    "vaha": "weight",
    "vyska": "height"
}

In [ ]:
uzivatele_df.rename(columns=nova_jmena_sloupcu, inplace=True)

In [ ]:
uzivatele_df

### P≈ôid√°v√°n√≠ sloupc≈Ø do DataFrame

---

Pot≈ôebuje≈° doplnit dal≈°√≠ sloupec. Nebo upravit data v jednom sloupci a v√Ωsledek zapsat do dal≈°√≠ho.

Nejƒçastƒõji m≈Ø≈æe≈° pracovat **na p≈ôid√°v√°n√≠ nov√Ωch sloupc≈Ø** tƒõmito t≈ôemi zp≈Øsoby:
1. **Slovn√≠kov√° anotace** pomoc√≠ kl√≠ƒçe a hodnoty,
2. v√Ωsledek pomoc√≠ operace **mezi dvƒõma sloupci**,
3. pomoc√≠ metody `apply`.

#### Jako kl√≠ƒç a hodnota

Takov√Ω zp≈Øsob pou≈æije≈°, pokud m√°≈° nachystan√© hodnoty pro nov√Ω sloupec:

In [ ]:
nova_jmena_sloupcu = {  # EN > CZ
    "first_name": "jmeno",
    "age": "vek",
    "weight": "vaha",
    "height": "vyska"
}

In [ ]:
uzivatele_df.rename(columns=nova_jmena_sloupcu, inplace=True)

In [ ]:
uzivatele_df

In [8]:
uzivatele_df['prijmeni'] = ("Holinka", "P√°rek", "Holinka", "Nov√°k")

In [9]:
uzivatele_df

    jmeno  vek  vaha  vyska prijmeni
0  Matou≈°   23    65    160  Holinka
1   Marek   25    70    170    P√°rek
2   Luk√°≈°   27    75    180  Holinka
3     Jan   29    80    190    Nov√°k

In [ ]:
uzivatele_df.iloc[1]

<br>

#### Kombinace existuj√≠c√≠ch sloupc≈Ø

---

Tento zp≈Øsob lze pou≈æ√≠t, pokud chce≈° vytvo≈ôit nov√Ω sloupec pomoc√≠ operac√≠ mezi existuj√≠c√≠mi sloupci:

In [ ]:
uzivatele_df

In [ ]:
uzivatele_df['BMI'] = round(uzivatele_df['vaha'] / ((uzivatele_df['vyska'] / 100) ** 2), 1)

In [ ]:
uzivatele_df

#### Metoda `apply`

---

Pokud pot≈ôebuje≈° aplikovat u≈æiv. funkci **pro st√°vaj√≠c√≠ sloupec**, vyu≈æije≈° metodu `apply`:

In [ ]:
uzivatele_df

In [ ]:
def vytvor_email(prijmeni: str, domena: str = "gmail.com") -> str:
    """
    Vra≈• zform√°tovan√Ω string, kter√Ω tvo≈ô√≠ emailovou adresu.
    """
    return f"{prijmeni.lower()}@{domena}"

In [ ]:
vytvor_email(prijmeni='holinka')

In [ ]:
uzivatele_df['email'] = uzivatele_df['prijmeni'].apply(vytvor_email)

In [ ]:
uzivatele_df

<br>

Pokud bude≈° pot≈ôebovat pracovat **s v√≠ce sloupeƒçky**:

In [15]:
from pandas import Series

def vytvor_novy_email(radek: Series, domena: str = "gmail.com") -> str:
    """
    Vra≈• zform√°tovan√Ω string, kter√Ω tvo≈ô√≠ emailovou adresu.
    """
    return f"{radek['jmeno'].lower()}.{radek['prijmeni'].lower()}@{domena}"

In [ ]:
jeden_uzivatel = DataFrame({'jmeno': ['Matous'], 'prijmeni': ['Test']})

In [ ]:
jeden_uzivatel.iloc[0]

In [ ]:
vytvor_novy_email(radek=jeden_uzivatel.iloc[0])

In [12]:
uzivatele_df

    jmeno  vek  vaha  vyska prijmeni
0  Matou≈°   23    65    160  Holinka
1   Marek   25    70    170    P√°rek
2   Luk√°≈°   27    75    180  Holinka
3     Jan   29    80    190    Nov√°k

In [16]:
uzivatele_df['dalsi_email'] = uzivatele_df.apply(vytvor_novy_email, axis=1)

In [17]:
uzivatele_df

,jmeno,vek,vaha,vyska,prijmeni,novy_email,dalsi_email
0,Matou≈°,23,65,160,Holinka,Matou≈°.Holinka@gmail.com,matou≈°.holinka@gmail.com
1,Marek,25,70,170,P√°rek,Marek.P√°rek@gmail.com,marek.p√°rek@gmail.com
2,Luk√°≈°,27,75,180,Holinka,Luk√°≈°.Holinka@gmail.com,luk√°≈°.holinka@gmail.com
3,Jan,29,80,190,Nov√°k,Jan.Nov√°k@gmail.com,jan.nov√°k@gmail.com

<br>

Nepovinn√Ω argument `axis` v ohl√°≈°en√≠ ≈ô√≠k√°, ≈æe chce aplikovat metodu **na ≈ô√°dkov√© hodnoty**.

In [ ]:
df_uzivatele.apply?

In [ ]:
df_uzivatele.head()

Tento zp≈Øsob lze pou≈æ√≠t, pokud chce≈° vytvo≈ôit **nov√Ω sloupec** pomoc√≠ nƒõjak√© funkce na jednotliv√© ≈ô√°dky nebo sloupce `DataFrame`.

<br>

### Odstra≈àov√°n√≠ sloupeƒçk≈Ø

---

K odstranƒõn√≠ sloupc≈Ø z `DataFrame` objektu m≈Ø≈æe≈° pou≈æ√≠t nƒõkolik metod:
1. pythonovskou funkci `del`,
2. metodu `drop`,
3. metodu `pop`.

In [18]:
from pandas import DataFrame

In [20]:
uzivatele_df

,jmeno,vek,vaha,vyska,prijmeni,novy_email,dalsi_email
0,Matou≈°,23,65,160,Holinka,Matou≈°.Holinka@gmail.com,matou≈°.holinka@gmail.com
1,Marek,25,70,170,P√°rek,Marek.P√°rek@gmail.com,marek.p√°rek@gmail.com
2,Luk√°≈°,27,75,180,Holinka,Luk√°≈°.Holinka@gmail.com,luk√°≈°.holinka@gmail.com
3,Jan,29,80,190,Nov√°k,Jan.Nov√°k@gmail.com,jan.nov√°k@gmail.com

In [22]:
'novy_email' in uzivatele_df.columns

True

In [23]:
uzivatele_df.index

RangeIndex(start=0, stop=4, step=1)

In [25]:
# uzivatele_df.drop?

In [26]:
uzivatele_df = uzivatele_df.drop('novy_email', axis=1)

In [27]:
uzivatele_df

    jmeno  vek  vaha  vyska prijmeni               dalsi_email
0  Matou≈°   23    65    160  Holinka  matou≈°.holinka@gmail.com
1   Marek   25    70    170    P√°rek     marek.p√°rek@gmail.com
2   Luk√°≈°   27    75    180  Holinka   luk√°≈°.holinka@gmail.com
3     Jan   29    80    190    Nov√°k       jan.nov√°k@gmail.com

<br>

**üß† CVIƒåEN√ç üß†, zpracuj zadan√© body v √∫loze.**

M√°≈° DataFrame `zamestnanci` s informacemi o zamƒõstnanc√≠ch tv√© firmy.

Pot≈ôebuje≈° n√°sleduj√≠c√≠:
1. **p≈ôidat sloupec** s n√°zvem `plat_na_hodinu`, kter√Ω bude vypoƒç√≠t√°n jako pr≈Ømƒõr platu zamƒõstnanc≈Ø dƒõlen√Ω poƒçtem odpracovan√Ωch hodin.
2. Sloupec `plat_na_hodinu` zaokrouhli **na cel√© ƒç√≠slo**,
3. **p≈ôejmenuj sloupec** `jmeno` na `cele_jmeno`,
4. **vytvo≈ô funkci** `preved_datum`, kter√° zmƒõn√≠ form√°t data ve sloupci `datum_narozeni` z `YYYY-MM-DD` na `DD/MM/YYYY`,
5. **odstra≈à sloupec** `id`.

In [28]:
from datetime import datetime

import pandas as pd

In [30]:
zamestnanci_df = pd.DataFrame({'id': [1, 2, 3, 4],
                            'jmeno': ['Jan Nov√°k', 'Petr Soukup', 'Marie Hor√°kov√°', 'Jana Svobodov√°'],
                            'datum_narozeni': ['1990-05-15', '1985-12-10', '1992-07-25', '1988-03-20'],
                            'plat': [40_000, 45_000, 35_000, 50_000],
                            'odprac_hodiny': [160, 180, 150, 200]}
            )

In [31]:
zamestnanci_df

   id           jmeno datum_narozeni   plat  odprac_hodiny
0   1       Jan Nov√°k     1990-05-15  40000            160
1   2     Petr Soukup     1985-12-10  45000            180
2   3  Marie Hor√°kov√°     1992-07-25  35000            150
3   4  Jana Svobodov√°     1988-03-20  50000            200

In [35]:
zamestnanci_df['plat_na_hodinu'] = round(zamestnanci_df['plat'] / zamestnanci_df['odprac_hodiny'], 0)

In [36]:
zamestnanci_df

   id           jmeno datum_narozeni   plat  odprac_hodiny  plat_na_hodinu
0   1       Jan Nov√°k     1990-05-15  40000            160           250.0
1   2     Petr Soukup     1985-12-10  45000            180           250.0
2   3  Marie Hor√°kov√°     1992-07-25  35000            150           233.0
3   4  Jana Svobodov√°     1988-03-20  50000            200           250.0

In [37]:
novy_zamestnanci_df = zamestnanci_df.rename(columns={'jmeno': 'cele_jmeno'})

In [38]:
novy_zamestnanci_df

   id      cele_jmeno datum_narozeni   plat  odprac_hodiny  plat_na_hodinu
0   1       Jan Nov√°k     1990-05-15  40000            160           250.0
1   2     Petr Soukup     1985-12-10  45000            180           250.0
2   3  Marie Hor√°kov√°     1992-07-25  35000            150           233.0
3   4  Jana Svobodov√°     1988-03-20  50000            200           250.0

In [40]:
# novy_zamestnanci_df.drop?

In [41]:
novy_zamestnanci_df.drop('id', axis=1)

       cele_jmeno datum_narozeni   plat  odprac_hodiny  plat_na_hodinu
0       Jan Nov√°k     1990-05-15  40000            160           250.0
1     Petr Soukup     1985-12-10  45000            180           250.0
2  Marie Hor√°kov√°     1992-07-25  35000            150           233.0
3  Jana Svobodov√°     1988-03-20  50000            200           250.0

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```python
    zamestnanci['plat_na_hodinu'] = round(zamestnanci['plat'] / zamestnanci['odprac_hodiny'])

    zamestnanci = zamestnanci.rename(columns={'jmeno': 'cele_jmeno'})


    def preved_datum(datum_narozeni, vstupni_format='%Y-%m-%d', vystupni_format='%d/%m/%Y'):
        dt = datetime.strptime(datum_narozeni, vstupni_format)
        prevedene_datum = dt.strftime(vystupni_format)
        return prevedene_datum


    # zamestnanci['datum_narozeni'] = pd.to_datetime(zamestnanci['datum_narozeni']).dt.strftime('%d/%m/%Y')  #  I. ≈ôe≈°en√≠
    # zamestnanci['datum_narozeni'] = zamestnanci['datum_narozeni'].apply(preved_datum)                      # II. ≈ôe≈°en√≠

    zamestnanci = zamestnanci.drop(columns=['id'])
    ```
</details>

---