# Python Data, 2024

---

* [ƒåasov√© ≈ôady](#ƒåasov√©-≈ôady),
    - [√∫vodn√≠ motivace](#√övod),
    - [z√°kladn√≠ objekty](#Z√°kladn√≠-objekty),
    - [indexov√°n√≠ ƒçasov√Ωmi √∫daji](#Indexov√°n√≠-s-ƒçasem),
    - [funkce to_datetime](#Funkce-TO_DATETIME),
    - [funkce date_range](#Funkce-DATE_RANGE),
    - [resampling](#Resampling),
    - [zp≈ôes≈àov√°n√≠](#Zp≈ôes≈àov√°n√≠),
* [Skuteƒçn√© hodnoty](#Skuteƒçn√©-datov√©-sety),
    - [chybƒõj√≠c√≠ √∫daje](#Kolik-mi-chyb√≠-√∫daj≈Ø),
    - [encoding](#Encoding),
    - [nekonzistentn√≠ data](#Nekonzistentn√≠-data).


<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.odqbr-09dxxBQjF7x7NyBAHaII%26pid%3DApi&f=1&ipt=5b4a03c1dd38b52108237102ebb350595a5d6ea6a50572f5897ca89fbf5b5445&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

<br>

## ƒåasov√© ≈ôady

---

ƒå√°st *frameworku* byla vyvinuta za √∫ƒçelem **finanƒçn√≠ho modelov√°n√≠**.

Proto je v√≠ce ne≈æ dob≈ôe vybavena sadou n√°stroj≈Ø, kter√© um√≠ pracovat **s daty, ƒçasem a ƒçasov√Ωmi objekty**.

<br>

Uplatnƒõn√≠:
* **Anal√Ωza a predikce**: ƒåasov√© ≈ôady umo≈æ≈àuj√≠ analyzovat v√Ωvoj hodnot v ƒçase a p≈ôedpov√≠dat budouc√≠ trendy nebo sez√≥nn√≠ zmƒõny. To je kl√≠ƒçov√© v oblastech jako finance, ekonomika, prodej, poƒças√≠ a mnoho dal≈°√≠ch.

* **Efektivn√≠ manipulace s ƒçasem**: Pandas poskytuje n√°stroje pro efektivn√≠ pr√°ci s ƒçasov√Ωmi ≈ôadami, co≈æ zjednodu≈°uje √∫koly, jako je agregace, interpolace nebo ƒçasov√© posuny. D√≠ky integrovan√Ωm funkc√≠m m≈Ø≈æete snadno pracovat s daty r≈Øzn√Ωch ƒçasov√Ωch frekvenc√≠ a konvertovat mezi nimi.

* **ƒåasovƒõ z√°visl√© anal√Ωzy**: ƒåasov√© ≈ôady umo≈æ≈àuj√≠ prov√°dƒõt ƒçasovƒõ z√°visl√© anal√Ωzy, jako je detekce zmƒõn v trendech, identifikace sez√≥nn√≠ch vliv≈Ø nebo identifikace ƒçasov√Ωch z√°vislost√≠ mezi promƒõnn√Ωmi.

* **Flexibiln√≠ indexace**: Pandas podporuje flexibiln√≠ indexaci ƒçasov√Ωch ≈ôad, co≈æ usnad≈àuje filtrov√°n√≠, ≈ôazen√≠ a v√Ωbƒõr dat na z√°kladƒõ ƒçasov√Ωch znaƒçek nebo rozsah≈Ø.

* **Kompatibilita s dal≈°√≠mi knihovnami**: Pandas je kompatibiln√≠ s mnoha dal≈°√≠mi knihovnami pro anal√Ωzu ƒçasov√Ωch ≈ôad, jako je statsmodels nebo scikit-learn. To usnad≈àuje integraci a roz≈°√≠≈ôen√≠ va≈°ich anal√Ωz s pokroƒçilej≈°√≠mi metodami a algoritmy.
    
<br>

Jde nap≈ô√≠klad o √∫daje typu:
* *timestampy*, √∫daj odkazuj√≠c√≠ na konkr√©tn√≠ **ƒçasov√Ω okam≈æik** (nap≈ô. `26. ƒçervence 2024 v 14:36 hod.`),
* *ƒçasov√© intervaly*, tedy obdob√≠ odkazuj√≠ na d√©lku ƒçasu **mezi konkr√©tn√≠m zaƒç√°tkem a koncem** (nap≈ô. intervaly ze dne na den),
* *time delta* objekty, tedy p≈ôesn√© d√©lky ƒçasu (nap≈ô. 22,22 sekundy).

#### Data a ƒças v Pythonu

---

Standardn√≠ v√Ωbavou Pythonu jsou knihovny `datetime`:

In [1]:
from datetime import datetime

In [2]:
datetime(year=2023, month=4, day=5)

datetime.datetime(2023, 4, 5, 0, 0)

<br>

Nebo knihovna `dateutil` pro parsov√°n√≠ datov√Ωch typ≈Ø z r≈Øzn√Ωch stringov√Ωch zad√°n√≠:

In [3]:
from dateutil import parser

In [4]:
date = parser.parse("26th of november, 2024")

In [6]:
date

datetime.datetime(2024, 11, 26, 0, 0)

Kde pomoc√≠ metody `strftime` m≈Ø≈æe≈° vypsat den:

In [7]:
date.strftime("%A")

'Tuesday'

#### Data a ƒças v numpy

---

Nƒõkter√© nedostatky uvnit≈ô knihoven `datetime` a `dateutil` vedli ke vzniku sady n√°stroj≈Ø.

Tyto dopl≈àky vznikly pod hlaviƒçkou knihovny `numpy`.

In [10]:
import numpy as np
from numpy import array, arange

In [11]:
date = array('2023-04-05', dtype=np.datetime64)

In [12]:
date

array('2023-04-05', dtype='datetime64[D]')

<br>

Pokud pot≈ôebuje≈° pole n√°sleduj√≠c√≠ch 7 dn√≠:

In [13]:
date + arange(7)

array(['2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
       '2023-04-09', '2023-04-10', '2023-04-11'], dtype='datetime64[D]')

<br>

Vzhledem k jednotn√©mu datovu typu v poli pro **numpy** `datetime64` m≈Ø≈æe tento typ operace
prov√°dƒõt mnohem rychleji, ne≈æ p≈ô√≠mo v Pythonu `datetime` objekty, zejm√©na kdy≈æ objekty nab√Ωvaj√≠ na velikosti.

#### Data a ƒças v pand√°ch

---

Jde o kombinace objekt≈Ø z obou p≈ôedchoz√≠ch podkapitol.

Ty d√°vaj√≠ dohromady to nejlep≈°√≠ prost≈ôedky pro zach√°zen√≠ s ƒçasem.

In [65]:
import pandas as pd

In [ ]:
date = pd.to_datetime("5th of April, 2023")

In [16]:
date

Timestamp('2023-04-05 00:00:00')

In [17]:
date.strftime("%A")

'Wednesday'

<br>

## ƒåasov√© ≈ôady

---

V podstatƒõ jde o hlavn√≠ n√°stroj, kter√Ω tato knihovna dovede nab√≠dnout.

#### Indexov√°n√≠ ƒçasem
---
`DatetimeIndex` obsahuje ƒçasov√© znaƒçky (*timestamp*), kter√© jsou ulo≈æeny ve form√°tu `datetime64` s nanosekundovou p≈ôesnost√≠.

Tento objekt umo≈æ≈àuje efektivn√≠ pr√°ci s ƒçasov√Ωmi ≈ôadami a poskytuje mnoho funkc√≠ pro manipulaci s daty a ƒçasy.

V√Ωhody pr√°ce s `DatetimeIndex` objektem:
* ƒåasov√© z√≥ny,
* frekvence,
* ƒçasovƒõ z√°visl√© selekce,
* atributy ƒçasov√Ωch znaƒçek,
* operace s ƒçasem.

In [19]:
datumy = ["2023-04-05", "2022-04-05", "2021-04-05", "2020-04-05"]

In [ ]:
indexy = pd.DatetimeIndex(datumy)

In [ ]:
hodnoty = [pd.to_datetime(den).strftime("%A") for den in datumy]

In [22]:
hodnoty

['Wednesday', 'Tuesday', 'Monday', 'Sunday']

In [ ]:
hodnoty_sl = pd.Series(hodnoty, index=indexy)

In [28]:
hodnoty_sl

2023-04-05    Wednesday
2022-04-05      Tuesday
2021-04-05       Monday
2020-04-05       Sunday
dtype: object

In [25]:
type(indexy)

pandas.core.indexes.datetimes.DatetimeIndex

In [29]:
# hodnoty_sl['2023-04-05':'2021-04-05']   -> KeyError

In [32]:
hodnoty_sl.sort_index()['2021-04-05':'2023-04-05']

2021-04-05       Monday
2022-04-05      Tuesday
2023-04-05    Wednesday
dtype: object

<br>

## Z√°kladn√≠ objekty

---

Mezi z√°kladn√≠ objekty pro pr√°ci s ƒçasem pat≈ô√≠:
* `Timestamp` typ (souvisej√≠c√≠ struktura Indexu `DatetimeIndex`,
* `Period` typ (.. `PeriodIndex`),
* `Timedelta` typ (.. `TimedeltaIndex`).

#### Timestamp & DatetimeIndex

---

Nejƒçastƒõj≈°√≠ datov√© typy, kter√© lze vyvolat p≈ô√≠mo, ov≈°em bƒõ≈ænƒõj≈°√≠ je pracovat s funkc√≠ `to_datetime`.

Funkce `to_datetime` um√≠ parsovat r≈Øzn√© stringov√© form√°ty.

<br>

### Pr√°ce s jedn√≠m datumem

---

In [ ]:
datum = pd.to_datetime("05/04/2023")  # MM/DD/RRRR

<br>

Opatrnƒõ na specifick√Ω form√°t datumu:

In [43]:
datum                              # MM/DD/RRRR

Timestamp('2023-05-04 00:00:00')

In [44]:
type(datum)

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
datum.month_name()  #  --> May

'May'

In [ ]:
datum = pd.to_datetime("05/04/2023", dayfirst=True)  # DD/MM/RRRR

In [ ]:
datum.month_name()  #  --> April

'April'

Pokud do funkce `to_datetime` vlo≈æ√≠≈° jedinou hodnotu, vrac√≠ objekty typu `Timestamp`.

<br>

### Specifick√Ω form√°t

---

Pokud se *parser* ztrat√≠ nebo tvoje zad√°n√≠ neodpov√≠d√° jeho vyhotoven√≠:

In [ ]:
pd.to_datetime("12-11-2010 00:00", format="%d-%m-%Y %H:%M")

Timestamp('2010-11-12 00:00:00')

In [ ]:
naformatovany_datum = pd.to_datetime("05/04/2023", format='%d/%m/%Y')

In [50]:
naformatovany_datum.month_name()

'April'

<br>

### Pr√°ce s nƒõkolika datumy

---

In [ ]:
datumy = pd.to_datetime([
    datetime(2023, 4, 5), "5th of April 2023", "2023-Apr-5", "05-04-2023", "20230405"
])

In [52]:
datumy

DatetimeIndex(['2023-04-05', '2023-04-05', '2023-04-05', '2023-05-04',
               '2023-04-05'],
              dtype='datetime64[ns]', freq=None)

In [53]:
type(datumy)

pandas.core.indexes.datetimes.DatetimeIndex

Zat√≠mco pole hodnot s datumy, kter√© funkce `to_datetime` zpracuje vrac√≠ objekt typu `DatetimeIndex`.

<br>

Objekt `DatetimeIndex` potom m≈Ø≈æe≈° konvertovat na `PeriodIndex` pomoc√≠ *metody* `to_period`:

In [58]:
datumy.to_period?

Signature: datumy.to_period(*args, **kwargs)
Docstring:
Cast to PeriodArray/PeriodIndex at a particular frequency.

Converts DatetimeArray/Index to PeriodArray/PeriodIndex.

Parameters
----------
freq : str or Period, optional
    One of pandas' :ref:`period aliases <timeseries.period_aliases>`
    or an Period object. Will be inferred by default.

Returns
-------
PeriodArray/PeriodIndex

Raises
------
ValueError
    When converting a DatetimeArray/Index with non-regular values,
    so that a frequency cannot be inferred.

See Also
--------
PeriodIndex: Immutable ndarray holding ordinal values.
DatetimeIndex.to_pydatetime: Return DatetimeIndex as object.

Examples
--------
>>> df = pd.DataFrame({"y": [1, 2, 3]},
...                   index=pd.to_datetime(["2000-03-31 00:00:00",
...                                         "2000-05-31 00:00:00",
...                                         "2000-08-31 00:00:00"]))
>>> df.index.to_period("M")
PeriodIndex(['2000-03', '2000-05', '2000-08'],
            dtype='period[M]')

Infer the daily frequency

>>> idx = pd.date_range("2017-01-01", periods=2)
>>> idx.to_period()
PeriodIndex(['2017-01-01', '2017-01-02'],
            dtype='period[D]')
File:      ~/.pyenv/versions/3.12.5/lib/python3.12/site-packages/pandas/core/indexes/extension.py
Type:      method

In [64]:
datumy.to_period(freq="h")

PeriodIndex(['2023-04-05 00:00', '2023-04-05 00:00', '2023-04-05 00:00',
             '2023-05-04 00:00', '2023-04-05 00:00'],
            dtype='period[h]')

<br>

Tato metoda je u≈æiteƒçn√°, pokud chcete p≈ôev√©st ƒçasov√© ≈ôady **na urƒçit√© ƒçasov√© obdob√≠**.

Kdy≈æ bude≈° t≈ôeba pot≈ôebovat p≈ôev√©st hodnoty **z denn√≠ch dat na mƒõs√≠ƒçn√≠ data**.

<br>

### Denn√≠ data

---

In [67]:
datumy.to_period("D")

PeriodIndex(['2023-04-05', '2023-04-05', '2023-04-05', '2023-05-04',
             '2023-04-05'],
            dtype='period[D]')

<br>

### Mƒõs√≠ƒçn√≠ data

---

In [69]:
datumy.to_period(freq="M")

PeriodIndex(['2023-04', '2023-04', '2023-04', '2023-05', '2023-04'], dtype='period[M]')

In [82]:
data = {'date': pd.date_range(start='2022-01-01', periods=10, freq='ME'),
        'sales': [100, 102, 105, 107, 110, 112, 115, 117, 120, 122]}

In [83]:
data_df = pd.DataFrame(data)

In [84]:
data_df

        date  sales
0 2022-01-31    100
1 2022-02-28    102
2 2022-03-31    105
3 2022-04-30    107
4 2022-05-31    110
5 2022-06-30    112
6 2022-07-31    115
7 2022-08-31    117
8 2022-09-30    120
9 2022-10-31    122

In [85]:
data_df.set_index('date', inplace=True)

In [86]:
data_df

            sales
date
2022-01-31    100
2022-02-28    102
2022-03-31    105
2022-04-30    107
2022-05-31    110
2022-06-30    112
2022-07-31    115
2022-08-31    117
2022-09-30    120
2022-10-31    122

In [87]:
period_df = data_df.to_period(freq='M')

In [88]:
period_df

         sales
date
2022-01    100
2022-02    102
2022-03    105
2022-04    107
2022-05    110
2022-06    112
2022-07    115
2022-08    117
2022-09    120
2022-10    122

<br>

### TimedeltaIndex

---

Jde o rozd√≠l v jednotk√°ch ƒçasu.

Nejƒçastƒõji se s t√≠mto objektem setk√°≈°, pokud pot≈ôebuje≈° z√≠skat **rozd√≠l mezi dvƒõma datumy**.

In [93]:
specialni_datumy = pd.to_datetime([
    datetime(2022, 4, 5), "5th of April 2021", "2020-Apr-5", "05-04-2019", "20180405"]
)

In [94]:
specialni_datumy

DatetimeIndex(['2022-04-05', '2021-04-05', '2020-04-05', '2019-05-04',
               '2018-04-05'],
              dtype='datetime64[ns]', freq=None)

In [95]:
datumy - specialni_datumy

TimedeltaIndex(['365 days', '730 days', '1095 days', '1461 days', '1826 days'], dtype='timedelta64[ns]', freq=None)

<br>

Rozd√≠l mezi datumy m≈Ø≈æe≈° poƒç√≠tat i pro jednotliv√© `Timestamp` hodnoty:

In [96]:
datumy[0]

Timestamp('2023-04-05 00:00:00')

In [97]:
specialni_datumy[0]

Timestamp('2022-04-05 00:00:00')

In [98]:
datumy[0] - specialni_datumy[0]

Timedelta('365 days 00:00:00')

<br>

**üß† CVIƒåEN√ç üß†, procviƒç si funkci `to_datetime`**

In [99]:
data = {  # P≈ôeveƒè datumy na form√°t RRRR-MM-DD
    "Name": ["Event A", "Event B", "Event C"],
    "Date": ["21-11-2024", "05-12-2024", "15-01-2025"],
}

In [100]:
nova_data_df = pd.DataFrame(data)

In [102]:
nova_data_df

      Name        Date
0  Event A  21-11-2024
1  Event B  05-12-2024
2  Event C  15-01-2025

In [105]:
nova_data_df['New Date'] = pd.to_datetime(nova_data_df['Date'], dayfirst=True)  # "format" chyb√≠

In [106]:
nova_data_df

      Name        Date   New Date
0  Event A  21-11-2024 2024-11-21
1  Event B  05-12-2024 2024-12-05
2  Event C  15-01-2025 2025-01-15

In [107]:
nova_data_df['New Date'] = pd.to_datetime(nova_data_df['Date'], format='%d-%m-%Y')

In [108]:
nova_data_df

      Name        Date   New Date
0  Event A  21-11-2024 2024-11-21
1  Event B  05-12-2024 2024-12-05
2  Event C  15-01-2025 2025-01-15

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
import pandas as pd

data = {
    "Name": ["Event A", "Event B", "Event C"],
    "Date": ["21-11-2024", "05-12-2024", "15-01-2025"],
}


df = pd.DataFrame(data)


def convert_dates(df):
    df["Date"] = pd.to_datetime(df["Date"], format="%d-%m-%Y")
    return df

converted_df = convert_dates(df)
print(converted_df)
print(converted_df.dtypes)
```
</details>

<br>

## Funkce `date_range`

---

Aby bylo zad√°n√≠ ≈ôady (sekvence) dat pohodlnƒõj≈°√≠, vyzkou≈°ej funkci `date_range`.

Obdobnƒõ potom pracuj√≠ souvisej√≠c√≠ funkce:
* `date_range`, timestampy,
* `period_range`, periody,
* `timedelta_range`, pro delty.

<br>

### Poƒçet period

---

In [109]:
datumy_ind = pd.date_range("01-01-1992", periods=8)

In [110]:
datumy_ind

DatetimeIndex(['1992-01-01', '1992-01-02', '1992-01-03', '1992-01-04',
               '1992-01-05', '1992-01-06', '1992-01-07', '1992-01-08'],
              dtype='datetime64[ns]', freq='D')

<br>

## Frekvence

---

In [113]:
datumy_mesicne_ind = pd.date_range("01-01-1992", periods=12, freq="ME")

In [114]:
datumy_mesicne_ind

DatetimeIndex(['1992-01-31', '1992-02-29', '1992-03-31', '1992-04-30',
               '1992-05-31', '1992-06-30', '1992-07-31', '1992-08-31',
               '1992-09-30', '1992-10-31', '1992-11-30', '1992-12-31'],
              dtype='datetime64[ns]', freq='ME')

<br>

### Hodinov√© periody

---

In [115]:
from pandas import timedelta_range

In [119]:
hodinove_ind = timedelta_range(0, periods=12, freq='h')

In [120]:
hodinove_ind

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00', '0 days 10:00:00', '0 days 11:00:00'],
               dtype='timedelta64[ns]', freq='h')

In [121]:
# timedelta_range?

<br>

### Tabulka frekvenc√≠

---

ƒåasovou paletou frekvenc√≠, kterou framework `pandas` nab√≠z√≠ je tato tabulka:

| String | Popisek |
| :-: | :- |
| `D` | kalend√°≈ôn√≠ den |
| `W` | t√Ωden |
| `ME` | konec mƒõs√≠ce |
| `QE` | konec ƒçtvrtlet√≠ |
| `YE` | konec roku |
| `h` | hodiny |
| `min` | minuty |
| `s` | vte≈ôiny |
| `B` | pracovn√≠ den |
| `BME` | konec pracovn√≠ho mƒõs√≠ce |
| `BQE` | konec pracovn√≠ho ƒçtvrtlet√≠ |

#### Netradiƒçn√≠ frekvence

---

In [124]:
pd.timedelta_range(start='1h', periods=5, freq="1h15min")

TimedeltaIndex(['0 days 01:00:00', '0 days 02:15:00', '0 days 03:30:00',
                '0 days 04:45:00', '0 days 06:00:00'],
               dtype='timedelta64[ns]', freq='75min')

<br>

### Resampling

---

*Resampling* nebo tak√© *p≈ôevzorkov√°n√≠* je proces, kter√Ω upravuje frekvenci ƒçasov√© ≈ôady.

*Resampling* se obvykle pou≈æ√≠v√° **pro sn√≠≈æen√≠ frekvence** (z hodinov√Ωch dat na denn√≠ data).

*Resampling* zahrnuje **agregaci dat**.

V `pandas` se k tomu pou≈æ√≠v√° metoda `resample`, kter√° m√° jako parametr novou frekvenci, na kterou chcete data p≈ôev√©st:

In [125]:
import pandas as pd
import numpy as np
# from pandas import DataFrame, date_range

In [126]:
data = {
    'date': pd.date_range(start='2022-01-01', periods=60, freq='D'),
    'sales': np.random.randint(10, 100, size=60)
}

In [127]:
data_df = pd.DataFrame(data)

In [128]:
data_df.head()

        date  sales
0 2022-01-01     66
1 2022-01-02     75
2 2022-01-03     14
3 2022-01-04     71
4 2022-01-05     50

Dostupn√© sloupce:

In [129]:
data_df.columns

Index(['date', 'sales'], dtype='object')

Dostupn√© indexy:

In [130]:
data_df.index

RangeIndex(start=0, stop=60, step=1)

In [131]:
data_df.set_index('date', inplace=True)

In [132]:
data_df.head()

            sales
date
2022-01-01     66
2022-01-02     75
2022-01-03     14
2022-01-04     71
2022-01-05     50

<br>

Pomoc√≠ metody `resample` souƒçasnƒõ hodnoty agregujeme a sn√≠≈æ√≠me frekvenci:

In [134]:
mesicni_data = data_df.resample('ME').sum()

In [135]:
mesicni_data

            sales
date
2022-01-31   1609
2022-02-28   1339
2022-03-31     82

In [136]:
data_df.tail()

            sales
date
2022-02-25     32
2022-02-26     57
2022-02-27     94
2022-02-28     19
2022-03-01     82

<br>

Upravit p≈Øvodn√≠ vzorek dat na zam√Ω≈°lenou frekvenci, tedy `W`:

In [137]:
tydenni_data = data_df.resample('W').sum()

In [138]:
tydenni_data

            sales
date
2022-01-02    141
2022-01-09    243
2022-01-16    285
2022-01-23    512
2022-01-30    367
2022-02-06    409
2022-02-13    276
2022-02-20    274
2022-02-27    422
2022-03-06    101

In [139]:
nahodny_den = pd.to_datetime('2022-02-01')

In [140]:
nahodny_den.weekofyear

5

<br>

### Zp≈ôes≈àov√°n√≠

---

Zahrnuje **zv√Ω≈°en√≠ frekvence ƒçasov√Ωch ≈ôad**.

P≈ôiƒçem≈æ se novƒõ vytvo≈ôen√© hodnoty obvykle interpoluj√≠ nebo dopl≈àuj√≠ nƒõjakou konstantou.

V pandas se k zp≈ôes≈àov√°n√≠ pou≈æ√≠v√° metoda `asfreq`, kter√° m√° jako parametr **novou frekvenci**, na kterou chcete data p≈ôev√©st.

In [141]:
data = {
    'date': pd.date_range(start='2022-01-01', end='2022-03-01', freq='D'),
    'sales': np.random.randint(10, 150, size=60)  # Opatrnƒõ na d√©lky sekvenc√≠
}

In [142]:
dalsi_data_df = pd.DataFrame(data)

In [143]:
dalsi_data_df.head()

        date  sales
0 2022-01-01    147
1 2022-01-02     52
2 2022-01-03    132
3 2022-01-04     83
4 2022-01-05     15

In [144]:
dalsi_data_df.set_index('date', inplace=True)

In [146]:
denni_data = dalsi_data_df.asfreq('h')

<br>

Pokud nezad√°≈° hodnotu pro v√Ωpl≈àovac√≠ parametr, uvid√≠≈° pr√°zdn√© hodnoty `NaN`:

In [147]:
denni_data.head(10)

                     sales
date
2022-01-01 00:00:00  147.0
2022-01-01 01:00:00    NaN
2022-01-01 02:00:00    NaN
2022-01-01 03:00:00    NaN
2022-01-01 04:00:00    NaN
2022-01-01 05:00:00    NaN
2022-01-01 06:00:00    NaN
2022-01-01 07:00:00    NaN
2022-01-01 08:00:00    NaN
2022-01-01 09:00:00    NaN

Metoda `asfreq` bere jako parametr novou frekvenci, na kterou chceme data p≈ôev√©st.

V p≈ô√≠padƒõ v√Ω≈°e jde o frekvenci `H`, co≈æ znamen√° **hodinov√° data**.

Proto≈æe p≈ôi zp≈ôes≈àov√°n√≠ se **vytvo≈ô√≠ chybƒõj√≠c√≠ hodnoty** (v d≈Øsledku zv√Ω≈°en√≠ frekvence), je pot≈ôeba zvolit metodu pro jejich doplnƒõn√≠.

In [150]:
denni_data = dalsi_data_df.asfreq('h', method='ffill')

In [151]:
denni_data.head()

                     sales
date
2022-01-01 00:00:00    147
2022-01-01 01:00:00    147
2022-01-01 02:00:00    147
2022-01-01 03:00:00    147
2022-01-01 04:00:00    147

V√Ω≈° jde o metodu `forward fill` (parametr `method='ffill'`), kter√° kop√≠ruje p≈ôedchoz√≠ hodnotu pro v√Ωpl≈à chybƒõj√≠c√≠ch hodnot.

Dal≈°√≠ mo≈ænost√≠ je pou≈æ√≠t metodu `'back fill'` (parametr `method='bfill'`), kter√° kop√≠ruje n√°sleduj√≠c√≠ hodnotu pro v√Ωpl≈à chybƒõj√≠c√≠ch hodnot.

In [154]:
denni_data = dalsi_data_df.asfreq('h', method='bfill')

In [155]:
denni_data.head()

                     sales
date
2022-01-01 00:00:00    147
2022-01-01 01:00:00     52
2022-01-01 02:00:00     52
2022-01-01 03:00:00     52
2022-01-01 04:00:00     52

In [157]:
mesicni_data_asfreq = dalsi_data_df.asfreq('ME')

In [158]:
mesicni_data

            sales
date
2022-01-31   1609
2022-02-28   1339
2022-03-31     82

In [167]:
mesicni_data_resample = dalsi_data_df.resample('ME').sum()

In [168]:
mesicni_data_resample

            sales
date
2022-01-31   2189
2022-02-28   2569
2022-03-31     28

In [ ]:
# dalsi_data_df.asfreq?

<br>

**üß† CVIƒåEN√ç üß†, procviƒç si ƒçasov√© ≈ôady**

Analyzuj prodeje produktu ve fiktivn√≠ spoleƒçnosti bƒõhem jednoho roku a zjisti n√°sleduj√≠c√≠:
1. Celkov√Ω prodej za ka≈æd√Ω mƒõs√≠c.
2. Pr≈Ømƒõrn√Ω prodej za ka≈æd√Ω den v t√Ωdnu.
3. Denn√≠ prodej za posledn√≠ t√Ωden.

In [169]:
import pandas as pd
import numpy as np

denni_datumy = pd.date_range(start='2022-01-01',
                             end='2022-12-31',
                             freq='D')
prodeje = np.random.randint(10, 100, size=(len(denni_datumy),))

data = {'datumy': denni_datumy, 'prodeje': prodeje}

df_prodeje = pd.DataFrame(data)
df_prodeje.set_index('datumy', inplace=True)

In [170]:
df_prodeje.head()

            prodeje
datumy
2022-01-01       18
2022-01-02       47
2022-01-03       62
2022-01-04       34
2022-01-05       10

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```python
    monthly_sales = df.resample('M').sum()
    print("Celkov√Ω prodej za ka≈æd√Ω mƒõs√≠c:")
    print(monthly_sales)

    df_prodeje['weekday'] = df_prodeje.index.weekday
    average_weekday_sales = df_prodeje.groupby('weekday')['prodeje'].mean()
    print("\nPr≈Ømƒõrn√Ω prodej za ka≈æd√Ω den v t√Ωdnu:")
    print(average_weekday_sales)

    last_week_sales = df.loc['2022-12-25':, 'sales']
    print("\nDenn√≠ prodej za posledn√≠ t√Ωden:")
    print(last_week_sales)
    ```
</details>


<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.JJu86kKRph1LHt5M7agODQHaHa%26pid%3DApi&f=1&ipt=5cfb9e9f7b451b3a4f7a3ebdc4eb99177d477f20f8145cd818cc4966143f8b2b&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

## Skuteƒçn√© datov√© sety

---

ƒåi≈°tƒõn√≠ dat je proces, kter√Ω pat≈ô√≠ k samotn√© pr√°ci s daty.

Spolu s nƒõkter√Ωmi souvisej√≠c√≠mi √∫kony, pat≈ô√≠ mezi ty v√≠ce frustruj√≠c√≠.

Nesmysln√© datov√© typy, zkomolen√© ƒçasov√© √∫daje, nefunguj√≠c√≠ transformace.

In [173]:
uzivatele_df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [None, 20, None, 22, 23],
    'Height_cm': [160, 170, 175, None, 165],
    'Weight_kg': [50, 65, 70, 80, 55]
})

In [174]:
uzivatele_df

      Name   Age  Height_cm  Weight_kg
0    Alice   NaN      160.0         50
1      Bob  20.0      170.0         65
2  Charlie   NaN      175.0         70
3    David  22.0        NaN         80
4      Eve  23.0      165.0         55

Ihned po naƒçten√≠ je nejlep≈°√≠ data prozkoumat.

Nejenom datov√© typy ale tak√© m√≠t povƒõdom√≠ **o chybƒõj√≠c√≠ch hodnot√°ch**:

In [175]:
uzivatele_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       5 non-null      object
 1   Age        3 non-null      float64
 2   Height_cm  4 non-null      float64
 3   Weight_kg  5 non-null      int64
dtypes: float64(2), int64(1), object(1)
memory usage: 292.0+ bytes

<br>

Pomoc√≠ metody `info` si udƒõl√°≈° aspo≈à povrchn√≠ p≈ôehled o hodnot√°ch, datov√Ωch typech a chybƒõj√≠c√≠ch hodnot√°ch.

<br>

### Kolik mi chyb√≠ √∫daj≈Ø

---

V≈ædycky p≈ôistupuj k dat≈Øm s m√≠rnou skeps√≠.

Ot√°zkou potom nen√≠, *JESTLI* mi chyb√≠ data, ale *KOLIK* dat mi chyb√≠ **a kde**.

In [176]:
chybejici_hodnoty = uzivatele_df.isnull()  # isna()

In [177]:
chybejici_hodnoty

    Name    Age  Height_cm  Weight_kg
0  False   True      False      False
1  False  False      False      False
2  False   True      False      False
3  False  False       True      False
4  False  False      False      False

<br>

Pomoc√≠ metody `isnull` nahrad√≠≈° v≈°echny chybƒõj√≠c√≠ hodnoty v tabulce/sloupc√≠ch pomoc√≠ `True`.

Pokud nechyb√≠, nahrad√≠ s `False`.

In [178]:
type(chybejici_hodnoty)

pandas.core.frame.DataFrame

Takov√Ω v√Ωstup ale nen√≠ zcela reprezentativn√≠.

<br>

Proto je pot≈ôeba, seƒç√≠st v≈°echny `True` hodnoty po sloupc√≠ch:

In [179]:
soucet_chybejich_hodnot = uzivatele_df.isnull().sum()

In [180]:
soucet_chybejich_hodnot

Name         0
Age          2
Height_cm    1
Weight_kg    0
dtype: int64

<br>

Opƒõt v jednotk√°ch to nemus√≠ zcela **prozrazovat chybovost**.

Nejlep≈°√≠m indik√°torem ale b√Ωvaj√≠ **procenta z celkov√©ho mno≈æstv√≠ hodnot ve sloupci**:

In [181]:
uzivatele_df.shape[0]

5

In [182]:
celkem_zaznamu = uzivatele_df.shape[0]  # 0 ... Indexy, 1 ... sloupce

In [183]:
celkem_chybi = soucet_chybejich_hodnot

In [184]:
v_procentech = round(celkem_chybi / celkem_zaznamu * 100, 1)

In [17]:
v_procentech

Name          0.0
Age          40.0
Height_cm    20.0
Weight_kg     0.0
dtype: float64

<br>

P≈ô√≠padnƒõ celkov√© mno≈æstv√≠ z√°znam≈Ø ve v≈°ech sloupc√≠ch:

In [185]:
vsechny_bunky = uzivatele_df.shape[0] * uzivatele_df.shape[1]  # 5 * 4

In [186]:
vsechny_bunky

20

In [187]:
vsechny_chybejici_hodnoty = chybejici_hodnoty.sum()            # 3

In [188]:
vsechny_chybejici_hodnoty

Name         0
Age          2
Height_cm    1
Weight_kg    0
dtype: int64

In [189]:
soucet_chybejich_hodnot.sum()

np.int64(3)

In [190]:
celkem_v_procentech = round(soucet_chybejich_hodnot.sum() / vsechny_bunky * 100, 1)

In [191]:
celkem_v_procentech

np.float64(15.0)

<br>

V t√©to uk√°zce tedy chyb√≠ 15 % dat a to nen√≠ m√°lo!

<br>

### Co s chybƒõj√≠c√≠mi hodnotami

---

Je d≈Øle≈æit√© vƒõdƒõt, proƒç m√°≈° takov√© mno≈æstv√≠ chybƒõj√≠c√≠ch hodnot.

Chyb√≠ ti data, proto≈æe neexistuj√≠, nebo proto≈æe nejsou souƒç√°st√≠ z√°znam≈Ø v datasetu.

V takov√Ωch kroc√≠ch je obvykle nutn√©, pochopit podstatu √∫daj≈Ø (dokumentace, specifikace,..).

Nejjednodu≈°≈°√≠ zp≈Øsoby, jak s chybƒõj√≠c√≠mi daty nalo≈æit (ale ne efektivn√≠!!):
1. Zahodit chybƒõj√≠c√≠ hodnoty,
2. doplnit chybƒõj√≠c√≠ hodnoty.

#### Zahodit chybƒõj√≠c√≠ hodnoty
---

In [ ]:
# df_uzivatele.dropna?

In [192]:
uzivatele_df

      Name   Age  Height_cm  Weight_kg
0    Alice   NaN      160.0         50
1      Bob  20.0      170.0         65
2  Charlie   NaN      175.0         70
3    David  22.0        NaN         80
4      Eve  23.0      165.0         55

In [193]:
uzivatele_df.dropna()  # axis=0

  Name   Age  Height_cm  Weight_kg
1  Bob  20.0      170.0         65
4  Eve  23.0      165.0         55

<br>

V tento okam≈æik si zahod√≠≈° v≈°echny z√°znamy, kter√© **postr√°daly nƒõjakou hodnotu**.

Nƒõkdy je jednodu≈°≈°√≠ zahodit sloupeƒçek, kter√Ω m√° chybƒõj√≠c√≠ hodnotu:

In [194]:
uzivatele_df.dropna(axis=1)

      Name  Weight_kg
0    Alice         50
1      Bob         65
2  Charlie         70
3    David         80
4      Eve         55

#### Doplnit automaticky hodnoty

---

In [195]:
# df_uzivatele.fillna?

In [196]:
uzivatele_df

      Name   Age  Height_cm  Weight_kg
0    Alice   NaN      160.0         50
1      Bob  20.0      170.0         65
2  Charlie   NaN      175.0         70
3    David  22.0        NaN         80
4      Eve  23.0      165.0         55

In [197]:
uzivatele_df.fillna(0)  # replace: "Nan" --> 0

      Name   Age  Height_cm  Weight_kg
0    Alice   0.0      160.0         50
1      Bob  20.0      170.0         65
2  Charlie   0.0      175.0         70
3    David  22.0        0.0         80
4      Eve  23.0      165.0         55

<br>

Pomoc√≠ funkce `fillna` m≈Ø≈æe≈° vyplnit m√≠sto chybƒõj√≠c√≠ch hodnot p≈ôeddefinovanou vlastn√≠ hodnotu.

Nebo pomoc√≠ argumentu pro `method` pracovat s elegantnƒõj≈°√≠m zad√°n√≠m.

Nahradit chybƒõj√≠c√≠ hodnoty hodnotou, kter√° n√°sleduje bezprost≈ôednƒõ za n√≠ ve stejn√©m sloupci (To m√° velk√Ω smysl u soubor≈Ø dat, kde maj√≠ pozorov√°n√≠ nƒõjak√© logick√© po≈ôad√≠.)

In [204]:
uzivatele_df.bfill(axis=0)

      Name   Age  Height_cm  Weight_kg
0    Alice  20.0      160.0         50
1      Bob  20.0      170.0         65
2  Charlie  22.0      175.0         70
3    David  22.0      165.0         80
4      Eve  23.0      165.0         55

In [205]:
uzivatele_df

      Name   Age  Height_cm  Weight_kg
0    Alice   NaN      160.0         50
1      Bob  20.0      170.0         65
2  Charlie   NaN      175.0         70
3    David  22.0        NaN         80
4      Eve  23.0      165.0         55

In [206]:
uzivatele_df.ffill(axis=0)

      Name   Age  Height_cm  Weight_kg
0    Alice   NaN      160.0         50
1      Bob  20.0      170.0         65
2  Charlie  20.0      175.0         70
3    David  22.0      175.0         80
4      Eve  23.0      165.0         55

<br>

P≈ôi volbƒõ metody `ffill` m≈Ø≈æe dƒõlat probl√©my chybƒõj√≠c√≠ hodnota v prvn√≠m Indexu.

In [207]:
uzivatele_df.ffill(axis=0).fillna(19)

      Name   Age  Height_cm  Weight_kg
0    Alice  19.0      160.0         50
1      Bob  20.0      170.0         65
2  Charlie  20.0      175.0         70
3    David  22.0      175.0         80
4      Eve  23.0      165.0         55

Pro doplnƒõn√≠ **nedoplnƒõn√Ωch hodnot** ve spolupr√°ci s metodou `fillna` m≈Ø≈æe≈° tuto metoda spustit opakovanƒõ.

<img src="https://imgs.search.brave.com/lUUqjUIBtDUFPXtoZsXuQckIeZDaKPxCsaKdK1kJuFw/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA5LzM4LzAxLzE1/LzM2MF9GXzkzODAx/MTU4MF9leVZ5Um9z/Z20wakNsVzhMRm1l/R0dpeDNJQ0tXdmhV/WS5qcGc" width="160" style="margin-left:auto; margin-right:auto"/>

### Encoding, znakov√© sady

---

Probl√©my s *k√≥dov√°n√≠m* jsou bƒõ≈æn√©.

Jde o proces, kter√Ω mapuje **bajtov√© stringy** (`0110101011`) na **u≈æivatelsky ƒçiteln√Ω text** (`"ahoj!"`).

Tento probl√©m nastane, pokud se sna≈æ√≠≈° naƒç√≠st zdroj v jin√© k√≥dovac√≠ sadƒõ, ne≈æ byl soubor zapsan√Ω.

Proto≈æe je tƒõchto sad hodnƒõ, obƒças skonƒç√≠≈° s *escapovan√Ωmi znaky*, nebo s nezn√°m√Ωmi kliky-h√°ky:

In [209]:
"√¶‚Äì‚Ä°√•"

'√¶‚Äì‚Ä°√•'

<br>

P≈ô√≠padnƒõ pokud nelze domapovat znaky:

ÔøΩÔøΩ

<br>

V **Pythonu 2** nebylo lehk√© *encoding* zajistit.

V **Pythonu 3** je cel√Ω proces o dost jednodu≈°≈°√≠.

Standardem pro pr√°ci b√Ωv√° obyƒçejnƒõ UTF-8. Na to ale zrovna v na≈°ich konƒçin√°ch nem≈Ø≈æe≈° spol√©hat.

In [213]:
veta = "Matou≈° zaplatil 100 $"

In [214]:
# veta?

<br>

√ödaj, kter√Ω vid√≠≈° v√Ω≈° je datov√Ω typ `str`.

In [215]:
prevedena_veta = veta.encode("utf-8", errors="replace")

In [216]:
prevedena_veta

b'Matou\xc5\xa1 zaplatil 100 $'

In [217]:
# prevedena_veta?

<br>

D√°l je mo≈æn√©, p≈ôev√©st `str` na `bytes`. Tedy sekvenci ƒç√≠sel.

Jak ale teƒè tato sekvence vypad√°:

In [218]:
prevedena_veta

b'Matou\xc5\xa1 zaplatil 100 $'

<br>

Celou vƒõtu m≈Ø≈æe≈° zp√°tky k√≥dovat pomoc√≠ funkce `decode` z `bytes` na `str`:

In [219]:
print(prevedena_veta.decode("utf-8"))

Matou≈° zaplatil 100 $

<br>

Pokud ale zvol√≠≈° jinou sadu, nemus√≠≈° dostat stejn√© hodnoty:

In [220]:
print(prevedena_veta.decode("windows-1250"))

MatouƒπÀá zaplatil 100 $

In [221]:
print(prevedena_veta.decode("ascii"))

UnicodeDecodeError: 'ascii' codec can't decode byte 0xc5 in position 5: ordinal not in range(128)

<br>

Toto a dal≈°√≠ ne√∫spƒõ≈°n√© postupy je samoz≈ôejmƒõ ≈°patnƒõ a ty se tomu chce≈° urƒçitƒõ vyhnout.

In [224]:
chybna_sada = pd.read_csv("../onsite/cviceni_3.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe1 in position 65: invalid continuation byte

<br>

Ne v≈ædy je mo≈æn√©, defaultnƒõ pracovat se znakovou sadou **UTF-8**.

Ve v√Ωstupu je vidƒõt, ≈æe jde o smƒõs nƒõkolika sad a ty mus√≠≈° vyzkou≈°et, jak√° bude fungovat.

<br>

Pomoc√≠ knihovny `sys` zkontroluje≈°, jakou znakovou sadu internƒõ pou≈æ√≠v√°≈°:

In [225]:
import sys

In [226]:
sys.getdefaultencoding()

'utf-8'

<br>

Je≈°tƒõ pot≈ôebuje≈° n√°stroj, kter√Ω um√≠ ovƒõ≈ôit znakovou lok√°ln√≠ho souboru:

In [228]:
# !pip install chardet

In [229]:
from chardet.universaldetector import UniversalDetector

In [230]:
detector = UniversalDetector()

<br>

Pomoc√≠ stringu knihovnƒõ p≈ôed√°m lok√°ln√≠ soubor, kter√Ω je ≈ô√°dek po ≈ô√°dku kontrolov√°n:

In [231]:
for line in open("../onsite/cviceni_3.csv", 'rb'):
    detector.feed(line)
    if detector.done:
        break

detector.close()
print(detector.result)

{'encoding': 'Windows-1252', 'confidence': 0.6943073341094295, 'language': ''}

<br>

Pomoc√≠ knihovny `chardet` / `charset_normalizer` identifikuje≈°, o jak√© znakov√© sady jde:

Nyn√≠ m√°≈° lep≈°√≠ p≈ôedstavu o tom, jakou znakovou sadu soubor pou≈æ√≠v√°.

Opatrnƒõ na d√©lku `str`, kter√Ω detekuje≈°.

Pokud je p≈ô√≠li≈° kr√°tk√Ω, m≈Ø≈æe to ovlivnit v√Ωsledek.

Naopak pokud je p≈ô√≠li≈° dlouh√Ω, m≈Ø≈æe trvat jeho naƒçten√≠.

In [232]:
spravna_sada = pd.read_csv("../onsite/cviceni_3.csv", encoding="Windows-1252")

In [233]:
spravna_sada.head()

  id;jmeno;prijmeni;vek;mesto;uzivatel;narozeni
0      1345;Jitka;Prokopov√°;46;praha;N;4/8/2021
1         1346;Jan;Hornych;18;Praha;N;21/4/1995
2     1347;Lum√≠r;Navr√°til;46;Olomouc;N;4/5/1987
3        1348;Pavel;Koutn√Ω;35;praha;Y;16/2/1995
4         1349;Ivan;√à√≠≈æek;35;Liberec;N;5/5/2008

In [234]:
spravna_sada = pd.read_csv("../onsite/cviceni_3.csv", encoding="Windows-1252", sep=';')

In [235]:
spravna_sada.head()

     id  jmeno   prijmeni  vek    mesto uzivatel   narozeni
0  1345  Jitka  Prokopov√°   46    praha        N   4/8/2021
1  1346    Jan    Hornych   18    Praha        N  21/4/1995
2  1347  Lum√≠r   Navr√°til   46  Olomouc        N   4/5/1987
3  1348  Pavel     Koutn√Ω   35    praha        Y  16/2/1995
4  1349   Ivan      √à√≠≈æek   35  Liberec        N   5/5/2008

In [62]:
spravna_sada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        100 non-null    int64
 1   jmeno     100 non-null    object
 2   prijmeni  100 non-null    object
 3   vek       100 non-null    int64
 4   mesto     100 non-null    object
 5   uzivatel  100 non-null    object
 6   narozeni  100 non-null    object
dtypes: int64(2), object(5)
memory usage: 5.6+ KB

<br>

Tentokr√°t soubor otev≈ôe≈° pouze s varov√°n√≠m.

Pro p≈ô√≠≈°tƒõ je urƒçitƒõ v√Ωhodou vytvo≈ôit kopii takov√©ho souboru, kterou ulo≈æ√≠≈° v ide√°ln√≠m k√≥dov√°n√≠:

In [236]:
spravna_sada.to_csv("../onsite/cviceni_3_sada_utf8.csv", encoding="utf-8")

<img src="https://imgs.search.brave.com/EXc5_PuzQ1oh9QtKkq86VbHLTjcQKbX7sH3-di9Lrxc/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jZG4y/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvdGhpbmdzLTEz/LzgwL21hdGNoaW5n/LWNvbXBhcmUtbWF0/Y2hpbmctY29sbGF0/ZS02NC5wbmc" width="160" style="margin-left:auto; margin-right:auto"/>

<br>

### Nekonzistentn√≠ data

---

Pokud ti data nechyb√≠, je≈°tƒõ neznamen√°, ≈æe mus√≠ b√Ωt nutnƒõ v po≈ô√°dku:

In [237]:
chybny_dataset = {
    "id": [111, 112, 113, 114, 115, 116, 117],
    "jmeno": ["Matous", "Marek", "Petr", "Filip", "Jan", "Lukas", "David"],
    "vek": [22, 29, 31, 55, 43, 61, 55],
    "zeme": ["Ceska republika", "Slovensko", "Nemecko", "Ceskarepublika", "Ceska Republika", "Rakousko", "Ceska Reapublika"]
}

In [238]:
zamestnanci_df = pd.DataFrame(chybny_dataset)

In [239]:
zamestnanci_df

    id   jmeno  vek              zeme
0  111  Matous   22   Ceska republika
1  112   Marek   29         Slovensko
2  113    Petr   31           Nemecko
3  114   Filip   55    Ceskarepublika
4  115     Jan   43   Ceska Republika
5  116   Lukas   61          Rakousko
6  117   David   55  Ceska Reapublika

R≈Øzn√© zdroje, spr√°vci m≈Ø≈æou zp≈Øsobit nejednotn√Ω z√°pis a dopustit se *nekonzistence*.

In [240]:
zamestnanci_df["jmeno"].unique()

array(['Matous', 'Marek', 'Petr', 'Filip', 'Jan', 'Lukas', 'David'],
      dtype=object)

In [241]:
zamestnanci_df["zeme"].unique()

array(['Ceska republika', 'Slovensko', 'Nemecko', 'Ceskarepublika',
       'Ceska Republika', 'Rakousko', 'Ceska Reapublika'], dtype=object)

<br>

To m≈Ø≈æou b√Ωt jak mal√° velk√° p√≠smena, tak r≈Øzn√© znaky, chybƒõj√≠c√≠ mezery apod.

Odstranit je nen√≠ n√°roƒçn√©.

N√°roƒçn√© m≈Ø≈æe b√Ωt opƒõt rozpozn√°n√≠, takov√© komplikace.

In [242]:
zamestnanci_df["zeme"].str.lower().unique()

array(['ceska republika', 'slovensko', 'nemecko', 'ceskarepublika',
       'rakousko', 'ceska reapublika'], dtype=object)

<br>

Nƒõkter√© chyby, ale m≈Ø≈æou zp≈Øsobit paseku. T≈ôeba chybƒõj√≠c√≠ mezery.

Tady je nejlep≈°√≠, pomoci si vhodn√Ωm n√°strojem `fuzzywuzzy`.

In [244]:
!pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl.metadata (4.9 kB)
Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: pip install --upgrade pip

In [245]:
import fuzzywuzzy
from fuzzywuzzy import process

/home/viegorova/.pyenv/versions/3.12.5/lib/python3.12/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

<br>

Pro men≈°√≠ datasety s chybƒõj√≠c√≠mi mezerami aj., m≈Ø≈æe tato knihovna pracovat prakticky sama.

√öƒçel t√©to knihovny je rozpoznat podobn√© ≈ôetƒõzce, jak√©

In [246]:
shodne = fuzzywuzzy.process.extract(
    "Ceska republika",  # 'ceska repoblika'
    zamestnanci_df["zeme"],
    limit=6,
    scorer=fuzzywuzzy.fuzz.token_sort_ratio
)

<br>

Dost√°v√°m dvourozmƒõrn√© pole, kter√© obsahuje jednotliv√© v√Ωstupy.

Mezi v√Ωstupy ≈ôad√≠me:
1. Porovn√°van√Ω string,
2. pravdƒõpodobnost, se kterou odpov√≠d√° zadan√©mu stringu.

In [247]:
shodne

[('Ceska republika', 100, 0),
 ('Ceska Republika', 100, 4),
 ('Ceskarepublika', 97, 3),
 ('Ceska Reapublika', 97, 6),
 ('Slovensko', 25, 1),
 ('Nemecko', 18, 2)]

In [248]:
zamestnanci_df["zeme"].unique()

array(['Ceska republika', 'Slovensko', 'Nemecko', 'Ceskarepublika',
       'Ceska Republika', 'Rakousko', 'Ceska Reapublika'], dtype=object)

Nyn√≠ m≈Ø≈æe≈° vidƒõt shodn√© `str` se zvolen√Ωm zad√°n√≠m, jak to vid√≠ `fuzzywuzzy`.

Pro nahrazen√≠ je optim√°ln√≠ nachystat vhodnou u≈æivatelskou funkci:

In [249]:
nejblizsi_shoda = [shoda[0] for shoda in shodne if shoda[1] >= 90]

<br>

Izoluji jen ty shody, kter√© se z z√°d√°n√≠m shoduj√≠ v√≠ce ne≈æ na 90%:

In [250]:
nejblizsi_shoda

['Ceska republika', 'Ceska Republika', 'Ceskarepublika', 'Ceska Reapublika']

In [251]:
shodujici_udaje = zamestnanci_df["zeme"].isin(nejblizsi_shoda)  # ~membership testing

In [252]:
shodujici_udaje

0     True
1    False
2    False
3     True
4     True
5    False
6     True
Name: zeme, dtype: bool

In [253]:
zamestnanci_df

    id   jmeno  vek              zeme
0  111  Matous   22   Ceska republika
1  112   Marek   29         Slovensko
2  113    Petr   31           Nemecko
3  114   Filip   55    Ceskarepublika
4  115     Jan   43   Ceska Republika
5  116   Lukas   61          Rakousko
6  117   David   55  Ceska Reapublika

In [254]:
zamestnanci_df.loc[1]  # Index

id             112
jmeno        Marek
vek             29
zeme     Slovensko
Name: 1, dtype: object

In [255]:
zamestnanci_df.loc[1, 'zeme']

'Slovensko'

In [256]:
zamestnanci_df.loc[[0, 3, 4, 6], "zeme"]

0     Ceska republika
3      Ceskarepublika
4     Ceska Republika
6    Ceska Reapublika
Name: zeme, dtype: object

In [257]:
zamestnanci_df.loc[shodujici_udaje, "zeme"]

0     Ceska republika
3      Ceskarepublika
4     Ceska Republika
6    Ceska Reapublika
Name: zeme, dtype: object

In [258]:
zamestnanci_df.loc[shodujici_udaje, "zeme"] = "Ceska republika"

In [259]:
zamestnanci_df

    id   jmeno  vek             zeme
0  111  Matous   22  Ceska republika
1  112   Marek   29        Slovensko
2  113    Petr   31          Nemecko
3  114   Filip   55  Ceska republika
4  115     Jan   43  Ceska republika
5  116   Lukas   61         Rakousko
6  117   David   55  Ceska republika

In [260]:
def nahrad_shody_stringem(dframe, jmeno_sloupce, vzor, min_shoda=90):
    vsechny_stringy = dframe[jmeno_sloupce].unique()
    
    shody = fuzzywuzzy.process.extract(vzor, vsechny_stringy, limit=5,
                                       scorer=fuzzywuzzy.fuzz.token_sort_ratio)
    
    nejblizsi_shoda = [shoda [0] for shoda in shody if shoda[1] >= min_shoda]
    
    shodujici_zaznam = dframe[jmeno_sloupce].isin(nejblizsi_shoda)
    dframe.loc[shodujici_zaznam, jmeno_sloupce] = vzor

In [261]:
nahrad_shody_stringem(dframe=zamestnanci_df, jmeno_sloupce="zeme", vzor="Ceska republika")

In [262]:
zamestnanci_df

    id   jmeno  vek             zeme
0  111  Matous   22  Ceska republika
1  112   Marek   29        Slovensko
2  113    Petr   31          Nemecko
3  114   Filip   55  Ceska republika
4  115     Jan   43  Ceska republika
5  116   Lukas   61         Rakousko
6  117   David   55  Ceska republika

<br>

#### **üß† CVIƒåEN√ç üß†, procviƒç si pr√°ci s chybn√Ωm datasetem, 1**

In [263]:
import pandas as pd
from fuzzywuzzy import process

data_df = pd.DataFrame({
    "city": ["Praag", "Londn", "New York", "Tokio", "Sidney", "London", "Praha", "Nwe York", "Sydney", "Tky"]
})

correct_cities = ["Prague", "London", "New York", "Tokyo", "Sydney"]

In [264]:
data_df

       city
0     Praag
1     Londn
2  New York
3     Tokio
4    Sidney
5    London
6     Praha
7  Nwe York
8    Sydney
9       Tky

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
import pandas as pd

data = pd.DataFrame({
    "city": ["Praag", "Londn", "New York", "Tokio", "Sidney", "London", "Praha", "Nwe York", "Sydney", "Tky"]
})

correct_cities = ["Prague", "London", "New York", "Tokyo", "Sydney"]

def fix_city_name_all(city, correct_cities, threshold=65):
    matches = process.extract(city, correct_cities, limit=3)
    best_match = matches[0]
    return best_match[0] if best_match[1] > threshold else city

data["corrected_city"] = [
    fix_city_name_all(city, correct_cities) for city in data["city"]
]

print(data)
```
</details>

<br>

#### **üß† CVIƒåEN√ç üß†, procviƒç si pr√°ci s chybn√Ωm datasetem, 2**

Analyzuj prodeje produktu ve fiktivn√≠ spoleƒçnosti bƒõhem jednoho roku a zjisti n√°sleduj√≠c√≠:
1. Nahraj soubor do `DataFrame`, jm√©no souboru `cviceni_3.csv` (spr√°vn√Ω encoding, spr√°vn√© rozdƒõlen√≠),
2. projdi sloupce, zkontroluj, kde je probl√©m s daty,
3. vypi≈° v≈°echny z√°znamy, kter√© maj√≠ ve sloupci `mesto` hodnotu `Praha`.

In [266]:
cviceni_3_df = pd.read_csv("../onsite/cviceni_3.csv", encoding="Windows-1252", sep=';')

In [268]:
cviceni_3_df.head()

     id  jmeno   prijmeni  vek    mesto uzivatel   narozeni
0  1345  Jitka  Prokopov√°   46    praha        N   4/8/2021
1  1346    Jan    Hornych   18    Praha        N  21/4/1995
2  1347  Lum√≠r   Navr√°til   46  Olomouc        N   4/5/1987
3  1348  Pavel     Koutn√Ω   35    praha        Y  16/2/1995
4  1349   Ivan      √à√≠≈æek   35  Liberec        N   5/5/2008

In [ ]:
import pandas as pd
import fuzzywuzzy
from fuzzywuzzy import process

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
df_ukazka = read_csv("cviceni_3.csv", encoding="Windows-1250", delimiter=";")

def nahrad_shody_stringem(df, vzor, vyber, min_shoda=85):
    shody = fuzzywuzzy.process.extract(vzor, vyber, limit=20,
                                       scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    nejblizsi_shoda = [shoda[0] for shoda in shody if shoda[1] >= min_shoda]

    shodujici_zaznam = vyber.isin(nejblizsi_shoda)
    df.loc[shodujici_zaznam, "mesto"] = vzor
    
nahrad_shody_stringem(df_ukazka, "Praha", df_ukazka["mesto"])
vystup = df_ukazka[df_ukazka["mesto"] == "Praha"]


# Alternativn√≠ ≈ôe≈°en√≠
data = pd.read_csv(
    encoding = 'cp1250',
    sep = ';'
)

def nahrad_shody_stringem(dframe, sloupec, vzor, min_shoda=60):
    vsechny_stringy = dframe[sloupec].unique()
    shody = fuzzywuzzy.process.extract(vzor, vsechny_stringy, limit=5, scorer=fuzzywuzzy.fuzz.token_sort_ratio)
    nejblizsi_shoda = [shoda [0] for shoda in shody if shoda[1] >= min_shoda]
    shodujici_zaznam = dframe[sloupec].isin(nejblizsi_shoda)
    dframe.loc[shodujici_zaznam, sloupec] = vzor

print( 'Probl√©my s daty:' )
display( data[~data['narozeni'].str.contains('\\d{1,2}/\\d{1,2}/\\d{4}', regex= True, na=False)] )
display( data['mesto'].unique( ) )

#oprava narozen√≠
data['narozeni'] = data['narozeni'].astype( 'datetime64' )
#oprava mƒõsta
nahrad_shody_stringem(dframe=data, sloupec="mesto", vzor="Praha")
print( 'V√Ωsledek:' )
data.query( "mesto == 'Praha'" )
```
</details>

---